<main id='main' role='main'>
    <section class="hero hero-social-r">
        <div class="container">
          <div class="hero__wrapper">
            <h1>Más claro ni el agua</h1>
            <p>En Oasi nos interesa cuidar al planeta y cada compra que realizas con nosotros cuenta, entérate de nuestras últimas aportaciones altruistas.</p>
          </div>
        </div>
    </section>
    <div class='container'>
        <section>
            <h3 class="text-center">Actualmente apoyamos proyectos como:</h3>
            <ul class="item__features responsability__list">
              <!--  <li>Formamos parte de UNESCO WFUCA</li>
                <li>Chaul.org</li> -->
                <li>Apoyamos en la investigación del tiburón blanco</li>
            </ul>
        </section>
    </div>
    <section class="responsability light-gray-bg no-margin">
      <div class="container">
        <!--
        <div class="responsability__wrapper">
          <div class="responsability-case">
            <div class="responsability__title">
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" height="31" width="23" viewBox="0 0 45.1 62.2">
                      <style>
                          .st0 {
                              fill: #050505;
                          }
                      </style>
                      <path
                          class="st0"
                          d="M22.5 62.2C10.1 62.2 0 52.1 0 39.7 0 28 18.5 4.2 20.7 1.5c.5-.6 1.1-.9 1.9-.9.7 0 1.4.3 1.9.9 2 2.7 20.6 26.5 20.6 38.2 0 12.4-10.1 22.5-22.6 22.5zm0-55.2C16.3 15.3 4.8 32.1 4.8 39.7c0 9.8 8 17.7 17.7 17.7 9.8 0 17.7-8 17.7-17.7.1-7.6-11.4-24.4-17.7-32.7zm0 0"/>
                      <path class="st0" d="M22.5 52.6c-1.3 0-2.4-1.1-2.4-2.4 0-1.3 1.1-2.4 2.4-2.4 4.5 0 8.1-3.7 8.1-8.1 0-1.3 1.1-2.4 2.4-2.4 1.3 0 2.4 1.1 2.4 2.4.1 7.1-5.7 12.9-12.9 12.9zm0 0"/>
                  </svg>
              </p>
                <h3>UNESCO WFUCA</h3>
            </div>
            <div class="responsability__copy">
                <h4>Somos generadores de agua del Futuro, somos generadores de cambio</h4>
                <p>En conjunto con la fundación “The World Foundation for the Care of Human Life I.A.P.” tiene el único propósito de resolver y ayudar a la población mundial a tener acceso a uno de los derechos elementales del hombre: agua potable y reducción de las
                    emisiones GEI.</p>
                <p>Ahora en conjunto fortalecemos las soluciones tecnológicas más innovadoras para cumplir nuestro objetivo Preservar la vida humana y los recursos naturales del planeta. Conoce nuestros programas para generar un cambio significativo en tu estado o
                    municipio de la República Mexicana.</p>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="responsability__video">
              <a class="video" href="http://www.youtube.com/watch?v=AonxfGu8mHM"><img src="/images/video-responsabilidad.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="responsability__img">
              <img src="/images/wfuca.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      -->
        <!-- end case -->
        <!--
        <div class="responsability__wrapper">
          <div class="responsability-case">
            <div class="responsability__title">
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" height="31" width="23" viewBox="0 0 45.1 62.2">
                      <style>
                          .st0 {
                              fill: #050505;
                          }
                      </style>
                      <path
                          class="st0"
                          d="M22.5 62.2C10.1 62.2 0 52.1 0 39.7 0 28 18.5 4.2 20.7 1.5c.5-.6 1.1-.9 1.9-.9.7 0 1.4.3 1.9.9 2 2.7 20.6 26.5 20.6 38.2 0 12.4-10.1 22.5-22.6 22.5zm0-55.2C16.3 15.3 4.8 32.1 4.8 39.7c0 9.8 8 17.7 17.7 17.7 9.8 0 17.7-8 17.7-17.7.1-7.6-11.4-24.4-17.7-32.7zm0 0"/>
                      <path class="st0" d="M22.5 52.6c-1.3 0-2.4-1.1-2.4-2.4 0-1.3 1.1-2.4 2.4-2.4 4.5 0 8.1-3.7 8.1-8.1 0-1.3 1.1-2.4 2.4-2.4 1.3 0 2.4 1.1 2.4 2.4.1 7.1-5.7 12.9-12.9 12.9zm0 0"/>
                  </svg>
              </p>
                  <h3>Chaul.org</h3>
            </div>
            <div class="responsability__copy">
              <h4>Somos generadores de agua del Futuro,
                  <br>somos generadores de cambio</h4>
              <p>Nuestra embajadora de la Unesco Wfuca (World Federation Unesco Clubs & Asociations) la Dra. Harriet Turner de Bastón, aporta recursos económicos para proyectos altruistas.</p>
              <p>La Dra. Harriet Turner de Bastón, es Embajadora de la Paz y la Ética Global para América Latina. Con una impresionante atracción por el cuidado del planeta, compartiendo nuestros ideales y metas por cuidar y generar una cultura ecológica, se une a
                  la Familia de Oasi para generar un cambio en la sociedad.
                  <a href="http://embajadaunescowfuca.org/">Conoce más sobre nuestra Embajadora</a>
              </p>
              <p>En conjunto con Chaul.org generamos un cambio llevando agua a donde más lo necesitan. ¿Qué pasaría si mañana no tuviéramos agua? Es muy importante que la cuidemos, ahórrala y bebe Agua del Aire.</p>
              <p>En conjunto con Chaul.org nos preocupamos por nuestro Hábitat, el planeta tierra. Reflexiona y cuida el planeta. En conjunto con esta organización llevamos agua a quien más lo necesita.</p>
              <p><a href="http://www.chaul.org/">Conoce más sobre este interesante proyecto</a></p>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="responsability__img">
                <img src="/images/chaul.jpg" alt="" class="img-responsive">
            </div>
            <div class="responsability__video">
              <a class="video" href="http://www.youtube.com/watch?v=AonxfGu8mHM"><img src="/images/video-responsabilidad.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>
        </div>
      -->
        <!-- end case -->
        <div class="responsability__wrapper">
          <div class="responsability-case">
            <div class="responsability__title">
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" height="31" width="23" viewBox="0 0 45.1 62.2">
                      <style>
                          .st0 {
                              fill: #050505;
                          }
                      </style>
                      <path
                          class="st0"
                          d="M22.5 62.2C10.1 62.2 0 52.1 0 39.7 0 28 18.5 4.2 20.7 1.5c.5-.6 1.1-.9 1.9-.9.7 0 1.4.3 1.9.9 2 2.7 20.6 26.5 20.6 38.2 0 12.4-10.1 22.5-22.6 22.5zm0-55.2C16.3 15.3 4.8 32.1 4.8 39.7c0 9.8 8 17.7 17.7 17.7 9.8 0 17.7-8 17.7-17.7.1-7.6-11.4-24.4-17.7-32.7zm0 0"/>
                      <path class="st0" d="M22.5 52.6c-1.3 0-2.4-1.1-2.4-2.4 0-1.3 1.1-2.4 2.4-2.4 4.5 0 8.1-3.7 8.1-8.1 0-1.3 1.1-2.4 2.4-2.4 1.3 0 2.4 1.1 2.4 2.4.1 7.1-5.7 12.9-12.9 12.9zm0 0"/>
                  </svg>
              </p>
                  <h3>Tiburón blanco</h3>
            </div>
            <div class="responsability__copy">
              <h4>Amamos el planeta, cuidamos la naturaleza</h4>
              <p>Alarmados por la contaminación colaboramos con Blue Print Conservation Project para el rescate y conservación de las especies marinas, como la preservación del tiburón blanco, apoyamos con nuestra tecnología a la investigación del prestigioso
                  biólogo e investigador Mauricio Hoyos. Oasi llevará agua del aire al campamento de investigación en Isla Guadalupe en apoyo a esta importante exploración.</p>
              <p>Descubre más sobre nuestros planes para preservar el medio ambiente en nuestras redes sociales, síguenos y apóyanos a cuidar el planeta.</p>
              <p>Apoya movimientos como éste para hacer de este planeta un lugar mejor.</p>
              <p><a href="http://pelagioskakunja.org/isla-guadalupe.html">Conoce más sobre el Tiburón Blanco y cómo Oasi los está ayudando</a></p>
            </div>
          </div>
          <div class="gallery__wrapper">
            <div class="responsability__video">
              <a class="video" href="http://www.youtube.com/watch?v=uYAXeL2tMfw"><img src="/images/portada-tiburon.png" alt="" class="img-responsive"></a>
            </div>
            <div class="responsability__img">
                <img src="/images/tiburon-blanco.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
        <!-- end case -->
      </div>
    </section>
    <div class='container'>
        <section>
            <h2 class="text-center">¿Tienes un proyecto que cuide nuestro planeta?</h2>
            <p class="text-center">Si es así Oasi puede ayudarte a ser un generador de cambio.
                <br>Déjanos tus datos o llámanos para saber más de tu propósito por el mundo</p>
        </section>
        <section>
            <div class="contact">
                <div class="contact__form">
                    <%= render :partial => "../form-copy" %>
                    <%= render :partial => "../form-rp" %>
                </div>
                <div class="contact__info">
                    <h3>En Oasi estamos para escucharte.</h3>
                    <%= render :partial => "../contact-info" %>
                </div>
            </div>
        </section>
    </div>
</main>
<script>
  $(document).ready(function() {
    $('.video').magnificPopup({
      type:'iframe',
      iframe: {
      markup: '<div class="mfp-iframe-scaler">'+
                '<div class="mfp-close"></div>'+
                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
              '</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button
      patterns: {
        youtube: {
          index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).

          id: 'v=', // String that splits URL in a two parts, second part should be %id%
          // Or null - full URL will be returned
          // Or a function that should return %id%, for example:
          // id: function(url) { return 'parsed id'; }

          src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
        }
        // you may add here more sources

      },
      srcAction: 'iframe_src' // Templating object key. First part defines CSS selector, second attribute. "iframe_src" means: find "iframe" and set attribute "src".
    }
    });
  });
</script>
