<p><img src="/images/icon-cert.svg" alt="" class="faq__widget-icon"></p>
<h3>certificaciones</h3>
<p>Contamos con las siguientes certificaciones a nivel nacional e internacional.</p>
<div class="certifications">
  <div class="certifications-row">
    <div class="certification">
      <img src="/images/logos/cofepris.png" alt="" class="certification img-responsive">
    </div>
    <div class="certification">
      <img src="/images/logos/conuee.png" alt="" class="certification img-responsive">
    </div>
    <div class="certification">
      <img src="/images/logos/nom.png" alt="" class="certification img-responsive">
    </div>
  </div>
  <div class="certifications-row">
    <div class="certification">
      <img src="/images/logos/profeco.png" alt="" class="certification img-responsive">
    </div>
    <div class="certification">
      <img src="/images/logos/tecnologico.png" alt="" class="certification img-responsive">
    </div>
    <div class="certification">
      <img src="/images/logos/wateraquality.png" alt="" class="certification img-responsive">
    </div>
  </div>
</div>
