<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <title></title>
        <meta content='' name='description'>
        <meta content='' name='author'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <link href='/stylesheets/style.css' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link href="https://fonts.googleapis.com/css?family=Capriola|Lato:300,400" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="/javascripts/jquery.mmenu.min.js" type="text/javascript"></script>
        <link href="/stylesheets/jquery.mmenu.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/magnific-popup.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div id="mobile-wrapper">
            <%= render :partial => "header" %>
            <div class='container'>
                <%= yield %>
            </div>
          <!--  <div id="map-contact" class="contact__map"></div> -->
            <div class="footer-contact">
                <%= render :partial => "footer" %>
            </div>
            <%= render :partial => "mobile-menu" %>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js" crossorigin="anonymous"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" crossorigin="anonymous"></script>
            <script src='/javascripts/messages_es.js'></script>
            <script src='/javascripts/jquery.magnific-popup.min.js'></script>
            <script src='/javascripts/plugins.js'></script>
            <script src='/javascripts/script.js'></script>
          <!--  <script>
                // When the window has finished loading create our google map below
                google.maps.event.addDomListener(window, 'load', init);

                function init() {
                    // Basic options for a simple Google Map For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                    var mapOptions = {
                        scrollwheel: false,
                        // How zoomed in you want the map to start at (always required)
                        zoom: 14,

                        // The latitude and longitude to center the map (always required)
                        center: new google.maps.LatLng(19.424422, -99.16791699999999), // We Work Varsovia

                        // How you would like to style the map. This is where you would paste any style found on Snazzy Maps.
                        styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
                    };

                    // Get the HTML DOM element that will contain your map We are using a div with id="map" seen below in the <body>
                    var mapElement = document.getElementById('map-contact');

                    // Create the Google Map using our element and options defined above
                    var map = new google.maps.Map(mapElement, mapOptions);

                    // Let's also add a marker while we're at it
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(19.424422, -99.16791699999999),
                        icon: '/images/map-marker.png',
                        map: map,
                        title: 'OASI'
                    });
                }
            </script>  -->
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#mobile-menu").mmenu({
                        // options
                    }, {
                        // configuration
                        offCanvas: {
                            pageSelector: "#mobile-wrapper"
                        }
                    });
                });
            </script>
        </div>
    </body>
</html>
