<p>Llámanos o envíanos un correo, nosotros estaremos ahí para ti.</p>
<p class="contact__detail">Tel: 52 (55) 1253 7229</p>
<!-- <p class="contact__detail">Email: <a href="ventas@oasi-mexico.com">ventas@oasi-mexico.com</a></p> -->
