<footer class="footer">
    <div class="footer__main-wrapper">
        <div class="container">
            <nav role="nav" class="nav nav__footer">
                <ul><!--
                    <li>
                        <a href="#">Facturación</a>
                    </li> -->
                    <li>
                        <a href="/aviso-privacidad">Aviso de privacidad</a>
                    </li>
                    <li>
                        <a href="/preguntas-frecuentes">Preguntas frecuentes</a>
                    </li>
                    <li>
                        <a href="/equipo-ventas">Unete a nuestro equipo</a>
                    </li>
                    <li>
                        <a href="/responsabilidad-social">Responsabilidad social</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer__secondary-wrapper">
        <div class="container">
            <div class="footer__copyright">
                &copy; Copyright <%= Time.now.year %> OASI MB
            </div>
            <div class="footer__social">
                Siguenos en:
                <a href="https://www.facebook.com/oasimexico/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392" width="23" height="23">
  <path d="M243.196 0C108.891 0 0 108.891 0 243.196s108.891 243.196 243.196 243.196 243.196-108.891 243.196-243.196C486.392 108.861 377.501 0 243.196 0zm62.866 243.165l-39.854.03-.03 145.917h-54.689V243.196H175.01v-50.281l36.479-.03-.061-29.609c0-41.039 11.126-65.997 59.431-65.997h40.249v50.311h-25.171c-18.817 0-19.729 7.022-19.729 20.124l-.061 25.171h45.234l-5.319 50.28z" fill="#FFF"/>
</svg></a>
            </div>
        </div>
    </div>
</footer>
