<form id="form-guarantee" method="post" action="/form-guarantee-register.php">
  <div class="input-group">
    <label for="name">Nombre <span>*</span></label>
    <input type="text" name="Nombre" required>
  </div>
  <div class="input-group">
    <label for="telephone">Celular / Whatsapp <span>*</span></label>
    <input type="text" name="Celular" required>
  </div>
  <div class="input-group">
    <label for="model">Modelo</label>
    <input name="model" type="text" required>
  </div>
  <div class="input-group">
    <label for="store">Tienda</label>
    <input name="store" type="text" required>
  </div>
  <div class="input-group">
    <label for="branch">Sucursal</label>
    <input name="branch" type="text" required>
  </div>
  <div class="input-group">
    <label for="date">Fecha</label>
    <input name="date" type="text" required>
  </div>
  <div class="input-group">
    <label for="ticket">Ticket</label>
    <input name="ticket" type="text" required>
  </div>
  <div class="input-group">
    <input class="submit btn hvr-fade" type="submit" value="Registrar garantia">
  </div>
</form>
