<form action='https://www.getform.org/u/100c7956-d6a7-4b72-a0ce-f2e3cc1f24e0' enctype="multipart/form-data" method="POST">
  <div class="input-group">
    <label for="name">Nombre <span>*</span></label>
    <input type="text" name="Nombre" required>
  </div>
  <div class="input-group">
    <label for="telephone">Celular / Whatsapp <span>*</span></label>
    <input type="text" name="Celular" required>
  </div>
  <div class="input-group">
    <label for="telephone">Teléfono fijo</label>
    <input type="text" name="Telefono">
  </div>
  <div class="input-group">
    <label for="email">Correo Electrónico</label>
    <input type="email" name="Email" placeholder="ejem. carlos@ejemplo.com">
  </div>
  <div class="input-group">
    <label for="message">Comentarios</label>
    <textarea name="Mensaje" rows="8" cols="40" placeholder="¿Qué te gustaría lograr con Oasi?"></textarea>
  </div>
  <div class="input-group">
    <label for="message">Envianos tu CV (PDF,DOC)</label>
    <input id="file" type="file" name="Archivo_CV">
  </div>
  <!-- File upload button -->

  <div class="input-group">
    <button class="submit btn hvr-fade" type="submit">Enviar</button>
  </div>
  <div id="result"></div>
</form>
