<form action='https://www.getform.org/f/de1f6cc2-6527-4388-b8c5-c67e9f94d189' method="POST">
  <div class="input-group">
    <label for="name">Nombre <span>*</span></label>
    <input type="text" name="Nombre" required>
  </div>
  <div class="input-group">
    <label for="telephone">Celular / Whatsapp <span>*</span></label>
    <input type="text" name="Celular" required>
  </div>
  <div class="input-group">
    <label for="telephone">Teléfono fijo</label>
    <input type="text" name="Telefono">
  </div>
  <div class="input-group">
    <label for="email">Correo Electrónico</label>
    <input type="email" name="Email" placeholder="ejem. carlos@ejemplo.com">
  </div>
  <div class="input-group">
    <label for="message">Comentarios</label>
    <textarea name="Mensaje" rows="8" cols="40" placeholder="¿Qué te gustaría lograr con Oasi?"></textarea>
  </div>
  <div class="input-group">
    <button class="submit btn hvr-fade" type="submit">Enviar</button>
  </div>
</form>
