<header class="main-header">
    <div class="container ">
      <div class="main-header__container">
        <div class="nav__primary-wrapper">
            <div class="header-logo">
                <a href="/index.html"><img src="/images/oasi-logotipo.png" alt=""></a>
            </div>
            <nav role="nav" class="nav nav__primary">
                <ul>
                    <li>
                        <a href="/quienes-somos" class="hvr-underline-from-center">Sobre Oasi</a>
                    </li>
                    <li class="nav__sub-category">
                        <a href="#">Productos</a>
                        <ul class="nav__sub-category">
                          <!--
                          <li>
                              <a href="/productos/infinite" class="hvr-underline-from-left">Infinite</a>
                          </li>
                        -->
                          <li>
                              <a href="/productos/linea-industrial" class="hvr-underline-from-left">Industrial</a>
                          </li>
                          <li>
                              <a href="/productos/bebedero" class="hvr-underline-from-left">Bebedero</a>
                          </li>
                          <!--
                          <li>
                              <a href="/productos/oasi-eco" class="hvr-underline-from-left">Oasi Eco</a>
                          </li>
                        -->
                        </ul>
                    </li>
                    <li>
                        <a href="/distribuidores" class="hvr-underline-from-center">Distribuidores</a>
                    </li>
                    <li>
                        <a href="/contacto" class="hvr-underline-from-center">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="nav__secondary-wrapper">
            <nav role="nav" class="nav nav__secondary">
                <ul>
              <!--       <li>
                        <a href="/registrar-garantia" class="hvr-underline-from-center">Registra tu garantia</a>
                    </li>
                   <li>
                        <a href="#">|</a>
                    </li>
                    <li>
                        <a href="/mantenimiento" class="hvr-underline-from-center">Comprar <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="90.001 37.75 20 16">
    <path fill="#040216" d="M107.485 48.197l2.335-6.988c.117-.335.028-.538-.066-.671-.242-.341-.739-.345-.836-.345l-13.196-.002-.352-1.67c-.095-.395-.376-.771-.943-.771h-3.708c-.385 0-.594.18-.594.54v.964c0 .348.208.438.607.438h3.131l2.397 10.174c-.381.403-.588.991-.588 1.539 0 1.206.96 2.318 2.188 2.318 1.159 0 2.027-1.085 2.168-1.733h4.667c.143.648.846 1.76 2.168 1.76 1.207 0 2.188-1.045 2.188-2.249 0-1.199-.728-2.261-2.175-2.261-.601 0-1.314.324-1.646.81h-5.735c-.417-.647-.985-.849-1.56-.871l-.08-.424h8.726c.659 0 .788-.24.904-.558zm-.605 2.455c.454 0 .823.368.823.821 0 .454-.369.823-.823.823-.453 0-.822-.369-.822-.823.001-.452.369-.821.822-.821zm-8.207.822c0 .459-.373.832-.831.832-.459-.001-.833-.373-.833-.832 0-.458.374-.832.833-.832.458 0 .831.374.831.832z"/>
</svg></a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <div class="nav__mobile-wrapper">
            <a href="/index.html"><img src="/images/oasi-logotipo.png" alt=""></a>
            <a class="hvr-underline-from-center mobile-menu-btn" href="#mobile-menu" id="mobile-menu-btn">MENU</a>
        </div>
      </div>
    </div>
</header>
