<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <title></title>
        <meta content='' name='description'>
        <meta content='' name='author'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <link href='/stylesheets/style.css' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link href="https://fonts.googleapis.com/css?family=Capriola|Lato:300,400" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="/javascripts/jquery.mmenu.min.js" type="text/javascript"></script>
        <link href="/stylesheets/jquery.mmenu.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/magnific-popup.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/baguetteBox.min.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div id="mobile-wrapper">
            <%= render :partial => "header" %>
            <%= yield %>
            <%= render :partial => "footer" %>
            <%= render :partial => "mobile-menu" %>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js" crossorigin="anonymous"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" crossorigin="anonymous"></script>
            <script src='/javascripts/messages_es.js'></script>
            <script src='/javascripts/jquery.magnific-popup.min.js'></script>
            <script src='/javascripts/baguetteBox.min.js'></script>
            <script src='/javascripts/plugins.js'></script>
            <script src='/javascripts/script.js'></script>
            <script src="javascripts/smooth-scroll.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#mobile-menu").mmenu({
                        // options
                    }, {
                        // configuration
                        offCanvas: {
                            pageSelector: "#mobile-wrapper"
                        }
                    });
                    baguetteBox.run('.product-gallery');

                    smoothScroll.init();
                });
            </script>
        </div>
    </body>
</html>
