<section id="testimonials">
  <div class='container'>
    <div class="testimonials-wrapper">
      <span class="prev-testimonial"><img src="/images/arrow-left.png" alt=""/></span>
      <div class="testimonials">
        <div class="testimonial-wrapper">
            <div class="testimonial">
                <p><img src="/images/member-1.png" alt="" class="testimonial__img"></p>
                <div class="testimonial__text">
                    <p class="testimonial__copy">“Increíble, el agua es tan limpia ha simplificado mi vida, ya no salgo por el típico garrafón, ya está ahí en la casa.”</p>
                    <h5 class="testimonial__name">— Nombre de la persona</h5>
                </div>
            </div>
        </div>
          <div class="testimonial-wrapper">
              <div class="testimonial">
                  <p><img src="/images/member-1.png" alt="" class="testimonial__img"></p>
                  <div class="testimonial__text">
                      <p class="testimonial__copy">“Oasi cambió mi vida, afirmo que he bebido el agua más pura.”</p>
                      <h5 class="testimonial__name">— Nombre de la persona</h5>
                  </div>
              </div>
          </div>
          <div class="testimonial-wrapper">
              <div class="testimonial">
                  <p><img src="/images/member-1.png" alt="" class="testimonial__img"></p>
                  <div class="testimonial__text">
                      <p class="testimonial__copy">“Excelente calidad, atención al cliente desde que lo compras y siempre.”</p>
                      <h5 class="testimonial__name">— Nombre de la persona</h5>
                  </div>
              </div>
          </div>
          <div class="testimonial-wrapper">
              <div class="testimonial">
                  <p><img src="/images/member-1.png" alt="" class="testimonial__img"></p>
                  <div class="testimonial__text">
                      <p class="testimonial__copy">“Nunca me dejaron sola me ayudaron a instalarlo y vienen periódicamente a revisarlo.”</p>
                      <h5 class="testimonial__name">— Nombre de la persona</h5>
                  </div>
              </div>
          </div>

      </div>
      <span class="next-testimonial"><img src="/images/arrow-right.png" alt=""/></span>
    </div>
  </div>
</section>
