<main id='main' role='main home' class="light-gray-bg">
    <section class="hero hero-home">
        <div class="container">
          <div class="hero__wrapper">
            <h1>El futuro del <br>agua llegó hoy con Oasi</h1>
            <p>Conoce nuestra línea de productos. <br>Ahorras y brindas calidad al mejor precio.</p>
          </div>
        </div>
    </section>
    <!--
    <section id="home-infinity" class="light-gray-bg no-margin">
        <div class='container'>
            <div class="product left">
              <div class="product__img">
                <p><img src="/images/products/infinite/infinite-front.png" alt="" class="img-responsive"></p>
              </div>
              <div class="product__info">
                <div>
                  <h2 class="product__title">Infinite</h2>
                  <p class="producto__description">El placer de beber Agua del Futuro. Conócela y descubre su sofisticado sistema de creación de hasta 30 litros de agua.</p>
                  <a href="/productos/infinite" class="btn hvr-fade">Ver Detalle</a>
                </div>
              </div>
            </div>
        </div>
    </section>
  -->
    <section id="home-industrial">
        <div class='container'>
            <div class="product right">
              <div class="product__info">
                <div>
                  <h2 class="product__title">Industrial</h2>
                  <p class="producto__description">Incrementa tus ganancias con nuestra línea Industrial de última generación. Con sólo apretar un botón obtienes desde 1,000, 3,000 y hasta 5,000 litros de agua dependiendo el equipo que elijas.</p>
                  <a href="/productos/linea-industrial" class="btn hvr-fade">Ver Detalle</a>
                </div>
              </div>
              <div class="product__img">
                <p><img src="/images/industrial-front.png" alt="" class="img-responsive"></p>
              </div>
            </div>
        </div>
    </section>
    <img src="/images/coming_soon.jpg" alt="" class="img-responsive">
    <section id="home-bebedero" class="light-gray-bg no-margin">
        <div class='container'>
            <div class="product left">
              <div class="product__img">
                <p><img src="/images/bebedero-front.png" alt="" class="img-responsive"></p>
              </div>
              <div class="product__info">
                <div>
                  <h2 class="product__title">Bebedero</h2>
                  <p class="product__description">Bebe agua tan pura como de manantial en donde quiera que estés. Es ideal para oficinas, escuelas, gimnasios y parques.</p>
                  <a href="/productos/bebedero" class="btn hvr-fade">Ver Detalle</a>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!--
    <section id="home-oasi" class="no-margin">
        <div class='container'>
            <div class="product right">
              <div class="product__info">
                <div>
                  <h2 class="product__title">Oasi Eco</h2>
                  <p class="producto__description">Genera hasta 30 litros de agua en 24 horas. Olvídate de sucios y pesados garrafones, adquiere el Generador de Agua del Aire de última generación.</p>
                  <a href="/productos/oasi-eco" class="btn hvr-fade">Ver Detalle</a>
                </div>
              </div>
              <div class="product__img">
                <p><img src="/images/products/eco/eco-front.png" alt="" class="img-responsive"></p>
              </div>
            </div>
        </div>
    </section>
  -->
    <section id="features" class="dark-color-bg">
        <div class='container'>
            <div class="feature">
                <h3 class="feature__title">Casos de éxito</h3>
                <p class="feature__description">Hacemos que cada gota cuente, ayudamos al planeta con cada Generador de Agua del Aire que adquieres.</p>
                <p>
                    <a href="/quienes-somos" class="btn hvr-fade btn-ghost-dark-bg">Ver más</a>
                </p>
            </div>
      <!--      <div class="feature">
                <h3 class="feature__title">Registra tu garantía</h3>
                <p class="feature__description">Con nosotros jamás estás solo. <br>Si ya adquiriste un Generador de Agua del Aire, registra tu garantia aquí.</p>
                <p>
                    <a href="/registrar-garantia" class="btn hvr-fade btn-ghost-dark-bg">Registrar</a>
                </p>
            </div> -->
            <div class="feature">
                <h3 class="feature__title">Responsabilidad social</h3>
                <p class="feature__description">Todas tus compras apoyan a nuestros movimientos altruistas. Conócelos y descubre la nueva cultura ecológica, beber agua del aire. </p>
                <p>
                    <a href="/responsabilidad-social" class="btn hvr-fade btn-ghost-dark-bg">Ver más</a>
                </p>
            </div>
        </div>
    </section>
    <%= render :partial => "testimonials" %>
    <section id="home-certifications" class="light-gray-bg no-margin text-center">
        <div class='container'>
            <%= render :partial => "certifications" %>
        </div>
    </section>
</main>
