<main id='main' role='main'>
    <section class="hero hero-oasi-eco product-hero">
        <div class="container">
            <div class="hero__wrapper">
                <h1>Infinite</h1>
                <p>Infinite más que un Generador de Agua del Aire, es el lujo de beber el agua del futuro. Cuenta con un sofisticado sistema de purificación y filtración que tendrás el placer de tener hasta 30 litros de agua al día con sólo apretar un botón.</p>
            </div>
            <div class="hero__wrapper-img">
                <img class="img-responsive" src="/images/products/infinite/infinite-front.png" alt="">
            </div>
        </div>
    </section>
    <section class="light-gray-bg no-margin">
        <div class="container fw-container">
            <div class="fw-main_content">
                <div class="feature-widget_row">
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-saving.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Ahorro</h3>
                            <p class="fw-copy">Deja atrás los garrafones o los filtros que son costosos desde su instalación. Con Infinite obtienes agua al más bajo costo con sólo apretar un botón.</p>
                        </div>
                    </div>
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-certificate.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Mantenimiento y Garantía</h3>
                            <p class="fw-copy">Guiamos cada momento de tu equipo, contamos con los técnicos y opciones para extender tu garantía.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-widget_row">
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-warranty.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Vida del equipo
                            </h3>
                            <p class="fw-copy">Los Bebederos cuentan con 20 años de vida, siempre y cuando cumplan con las indicaciones de cuidado y mantenimiento.</p>
                        </div>
                    </div>
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-recycle.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Eco-amigables</h3>
                            <p class="fw-copy">Cada gota cuenta, cada una de tus compras ayuda a movimientos altruistas de organizaciones como la UNESCO WFUCA y Chaul.org.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-widget_row">
                    <div class="feature-widget_wrapper single">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-health.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Salud y Bienestar</h3>
                            <p class="fw-copy">La fuente de la juventud con Oasi. Cada vaso de Agua del Aire favorece la alimentación de las células evitándote envejecer más rápido.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class='container'>
        <section>
            <div id="product-oasi" class="product-gallery product-gallery-eco">
                <a class="product-gallery_item" href="/images/products/infinite/infinite_img_06.jpg" ><img class="product-thumb img-responsive" src="/images/products/infinite/infinite_img_06.jpg"></a>
                <a class="product-gallery_item" href="/images/products/infinite/infinite_img_07.jpg" ><img class="product-thumb img-responsive" src="/images/products/infinite/infinite_img_07.jpg"></a>
                <a class="product-gallery_item" href="/images/products/infinite/infinite_img_08.jpg" ><img class="product-thumb img-responsive" src="/images/products/infinite/infinite_img_08.jpg"></a>
                <a class="product-gallery_item" href="/images/products/infinite/infinite_img_03.jpg" ><img class="product-thumb img-responsive" src="/images/products/infinite/infinite_img_03.jpg"></a>
            </div>
        </section>
        <section>
            <p class="text-center">
                <a href="" class="btn hvr-fade pdf-download_link-wrapper">
                    <span class="pdf-download_link">DESCARGA LA FICHA TÉCNICA<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #fff;
                                    }

                                </style>
                            </defs>
                            <title>iconos_oasi</title>
                            <path class="cls-1" d="M20.38 59.47c2-.47 4.21-2.65 6.39-6.85A5.41 5.41 0 0 0 25 53.71c-2.44 2.18-4.31 4.67-4.62 5.76zM38.29 24.58V24c.31-1.87.31-3.27 0-3.58v-.31l-.29-.36a.31.31 0 0 1-.31.31c-.93 2-.93 4.52-.16 7.79a16.25 16.25 0 0 0 .76-3.27z"/>
                            <path
                                class="cls-1"
                                d="M65.07 7.76H14.93a7.25 7.25 0 0 0-7.16 7.16v50.15a7.25 7.25 0 0 0 7.16 7.16h50.14a7.25 7.25 0 0 0 7.16-7.16V14.93a7.25 7.25 0 0 0-7.16-7.17zm-3.89 42.36a8.39 8.39 0 0 1-3.27.78 27.29 27.29 0 0 1-10.75-2.49c-6.07.78-10.75 1.4-14.33 2.8-.31 0-.31 0-.78.31C27.7 59 24.11 62.58 21.31 62.58c-.78 0-1.09 0-1.4-.31l-1.71-1.09v-.31a3.65 3.65 0 0 1-.31-1.71c.31-1.87 2.49-5 6.85-7.48.78-.31 1.71-1.09 3.27-1.87 1.09-1.71 2.18-3.89 3.58-6.39A87.07 87.07 0 0 0 35.48 33c-1.4-4.36-2.18-6.85-.78-11.84.31-1.4 1.4-2.8 2.8-2.8h.78a4.13 4.13 0 0 1 2.18.78c2.49 2.49 1.4 8.25 0 12.93v.31a25.88 25.88 0 0 0 5.76 9.34 29.77 29.77 0 0 0 3.27 2.18c1.71 0 3.27-.31 4.67-.31 4.36 0 7.16.62 8.25 2.49a5.3 5.3 0 0 1 .31 2.18c-.45-.01-.92 1.08-1.54 1.86z"/>
                            <path
                                class="cls-1"
                                d="M43.27 44.2a29.42 29.42 0 0 1-5.45-8.1 85.61 85.61 0 0 1-3.58 8.57c-.78 1.4-1.4 2.49-2.18 3.89h.78a58 58 0 0 1 11.83-3.26 3.63 3.63 0 0 1-1.4-1.1zM59.78 47.16c-.31-.31-1.87-1.4-6.85-1.4h-.63v.31a18.94 18.94 0 0 0 6.85 1.87h1.09v-.31c-.15 0-.46 0-.46-.47z"/>
                        </svg>
                    </span>
                </a>
            </p>
        </section>
        <section class="text-center">
            <p>Visita nuestro
                <b>Showroom</b>
                y comprueba que no hay mas pura que
                <b>Oasi.</b>
            </p>
            <p>Llamanos al
                <b>+52 55 12537229</b>
                o envianos un correo a
                <a href="mailto:contacto@oasi-mexico.com">contacto@oasi-mexico.com</a>
            </p>
        </section>
    </div>
</main>
