<main id='main' role='main'>
    <section class="hero hero-about">
        <div class='container'>
          <div class="hero__wrapper">
            <h1>OASI<sup class="copyright">®</sup> empresa 100% mexicana</h1>
            <p>Somos pioneros en fabricación y distribución de tecnología para generar agua del aire contamos con 10 años de experiencia en el mercado internacional y 4 años en México.</p>
            <p>En Oasi estamos comprometidos con el cuidado del planeta y de los recursos naturales existentes, nuestra tecnología es la máxima innovación tecnológica en generación de <strong>Agua 100% Ecológica</strong>, libre de cloro, de químicos y de conservantes la cual
                aporta grandes beneficios a la salud de quien la consume, su proceso de generación es amigable con el medio ambiente.</p>
          </div>
        </div>
    </section>
    <section id="about-video">
        <div class='container'>
            <div class="about-us__img">
                <a id="video-about" href="http://www.youtube.com/watch?v=qV3bom8dwII"><img src="/images/video-about.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="about-us__copy text-center">
                <h4>Creamos agua del aire con la humedad de la atmósfera.</h4>
                <p>Nuestros equipos cuentan con la más alta calidad y tecnología de esta manera logramos la absorción de la humedad con el método de la condensación y el agua generada se purifica a través de nuestros sistemas de purificación.</p>
                <p>Tenemos diferentes líneas de producción, diversidad en modelos y diseños, contamos con un área especializada para desarrollo de proyectos integrales. Diseñamos y fabricamos justo lo que necesitas.</p>
                <p>Acércate a OASI, el agua pura al más bajo costo</p>
            </div>
        </diV>
    </section>
    <section class="statement dark-color-bg">
        <div class='container'>
            <div class="statement__wrapper left">
                <h3 class="statement__title">Misión</h3>
                <p class="statement__copy">Ofrecer tecnología, calidad y precio en cada uno de nuestros Generadores de Agua del Aire. Brindar agua del aire de última generación y acercarnos cada vez más a cada una de las necesidades de los mexicanos creando justo el Generador que necesitan.</p>
            </div>
            <div class="statement__wrapper right">
                <h3 class="statement__title">Visión</h3>
                <p class="statement__copy">Creamos conciencia ecológica, acercando a los mexicanos a beber agua del aire, brindando calidad, tecnología y el mejor servicio a un precio incomparable.</p>
            </div>
        </div>
    </section>
    <div class='container'>
      <!--  <section id="team">
            <div class="member">
                <img class="member__img img-responsive" src="/images/team-member.png" alt="">
                <h4 class="member__name">Nombre del integrante</h4>
                <h5 class="member__title">Puesto del integrante</h5>
                <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit veritatis nihil dolorem corrupti, quaerat mollitia totam.</p>
            </div>
            <div class="member">
                <img class="member__img img-responsive" src="/images/team-member.png" alt="">
                <h4 class="member__name">Nombre del integrante</h4>
                <h5 class="member__title">Puesto del integrante</h5>
                <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quas nihil, accusamus adipisci, magnam unde corporis.</p>
            </div>
            <div class="member">
                <img class="member__img img-responsive" src="/images/team-member.png" alt="">
                <h4 class="member__name">Nombre del integrante</h4>
                <h5 class="member__title">Puesto del integrante</h5>
                <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam nisi inventore, temporibus hic consequuntur, aspernatur.</p>
            </div>
            <div class="member">
                <img class="member__img img-responsive" src="/images/team-member.png" alt="">
                <h4 class="member__name">Nombre del integrante</h4>
                <h5 class="member__title">Puesto del integrante</h5>
                <p class="member__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, distinctio itaque consequuntur unde amet est officia nobis saepe quod.</p>
            </div>
        </section> -->
        <section id="join-oasi" class="join">
            <h2 class="join__title">Intégrate a nuestro equipo.
                <br>
                Sé parte de esta nueva generación de agua del aire.
                <br>
                El futuro es ahora y necesitamos gente como tú.</h2>
            <a href="/equipo-ventas" class="btn hvr-fade join__btn">UNETE</a>
        </section>
        <section class="case-study">
            <h2 class="case-study__title text-center">Casos de éxito</h2>
            <div class="case">
                <div class="case__title-wrapper libertad">
                    <h3 class="case__title">Servicios Financieros Libertad, Más claro ni el agua</h3>
                </div>
                <p class="case__description">Servicios Financieros Libertad, se coloca hoy como una de las instituciones financieras más visionaria en las últimas décadas, proyectando e impulsando unas de las tecnologías más innovadora del siglo para generar agua del Aire. </p>
                <p class="case__description">Oasi, generamos agua del aire, te acercamos al futuro. Ofrecemos innovación en cada producto, conoce más sobre nosotros y atrévete a ser un agente de cambio en tu vida y de tu familia.</p>
                <p class="case__description">En cada Generador de Agua del Aire se garantiza que se eliminan los metales y contaminantes dando como resultado un agua ultra pura con un pH de 7.22 y una alcalinidad de 72 Mg./Lto. Este balance es óptimo para la buena digestión ya que tiene propiedades hidratantes, que da como resultado energía y vitalidad en cada vaso.</p>
                <p class="case__description">El sistema de purificación que Integra la tecnología diseñada por el Grupo GWMX, cuenta con los más altos estándares de calidad, la cual incluye filtros de carbón activado, rayos ultravioleta, membrana de Osmosis Inversa y un filtro especial de remineralización que integra los minerales, magnesios y sales necesarias para mantener sano el cuerpo humano.</p>
                <p class="case__description">Conviértete en un generador de cambio y si aún no has bebido o conocido esta nueva tecnología que gracias a Servicios Financieros Libertad será expandida alrededor de la República Mexicana promoviendo así, tecnología 100% sustentable, amigable con el medio ambiente y con múltiples beneficios para tu salud, visita el Showroom para que pruebes, conozcas y compruebes que Oasi es el agua del futuro.</p>
            </div>
        </section>
      <!--  <section class="case-study">
            <h2 class="case-study__title text-center">Casos de éxito</h2>
            <div class="case">
                <div class="case__title-wrapper holbox">
                    <h3 class="case__title">Casa Iguana Holbox</h3>
                </div>
                <p class="case__description">El Hotel Boutique Casa iguana, ubicado en la paradisiaca isla de Holbox, es parte de la Familia Oasi. El Holbox es una pequeña isla mexicana localizada en el extremo norte del estado de Quintana Roo, esta paradisíaca isla
                    hoy en día es un lugar casi virgen, que forma parte importante del área de Protección de Flora y Fauna YUM BALAM, que consiste en 154,000 km2 donde muchas especies en peligro de extinción o extintas en otras partes del mundo pueden encontrarse aquí.</p>
                <p class="case__description">Compartiendo nuestra filosofía de Cero Pet, Casa Iguana ayuda al cuidado de esta reserva, ofreciendo Agua tan pura como de manantial en todos los alimentos y bebidas para sus huéspedes, sin generar desechos que dañen el medio ambiente. Si quieres
                    conocer más sobre este movimiento visítalos en <a href="www.casaiguanaholbox.com">www.casaiguanaholbox.com</a>
                </p>
            </div>
        </section>
        <section class="case-study">
            <div class="case">
                <div class="case__title-wrapper colegio">
                    <h3 class="case__title">Nuevas generaciones, nueva cultura ecológica</h3>
                </div>
                <p class="case__description">En Oasi nos preocupamos no solo por el medio ambiente, sino por el lugar que dejamos a las nuevas generaciones. Actualmente hemos concientizado a los estudiantes del Colegio Británico en Cancún.</p>
                <p class="case__description">Actualmente el Colegio Británico es una institución comprometida con la excelencia educativa, en donde su principal objetivo es ver siempre por sus estudiantes. Cuenta con valores como el respeto, la responsabilidad, la verdad y la libertad. El
                    pasado mes de Julio este Colegio en conjunto con Oasi crearon conciencia a todos sus estudiantes, primero brindándoles agua de manantial en cada una de sus instalaciones en Cancún Quintana Roo y después en los daños que produce el PET en todo el
                    planeta. Tomando esto como base, lograron juntan 64 kilos de PET al cierre del curso.</p>
                <p class="case__description">Sin duda acciones pequeñas como está hacen que nuestro sector infantil esté creciendo con una nueva cultura ecológica en beber y generar agua del aire dejando atrás el uso del PET.</p>
            </div>
        </section> -->
    </div>
    <!--
    <div class='container'>
      <div class="case-study__close-wrapper">
        <section class="case-study__close section-footer text-center">
          <p>En Oasi siempre estamos con lo último en tecnología, ofreciéndole calidad y vanguardia a todo México.</p>
          <p>Imagínate si logramos esto con máquinas de primera generación, haremos lo inimaginable con nuestros equipos de última generación. </p>
          <p>Conoce nuestros productos y logra de este mundo un mejor lugar para vivir con nosotros.</p>
        </section>
      </div>
    </div> -->
    <section id="home-certifications" class="light-gray-bg no-margin text-center">
        <div class='container'>
          <div class="case-study__close text-center">
            <h4>En Oasi siempre estamos con lo último en tecnología, ofreciéndole calidad y vanguardia a todo México.</h4>
            <h4>Imagínate si logramos esto con máquinas de primera generación,<br> haremos lo inimaginable con nuestros equipos de última generación.</h4>
            <h4>Conoce nuestros productos y logra de este mundo un mejor lugar para vivir con nosotros.</h4>
          </div>
          <div class="oasi-gallery_wrapper">
            <div class="oasi-gallery">
              <div class="oasi-gallery_row1">
                <div class="square"><img class="img-responsive" src="/images/gallery/01.jpg" alt=""></div>
                <div class="h-rec"><img class="img-responsive" src="/images/gallery/horizontal_01.jpg" alt=""></div>
                <div class="square"><img class="img-responsive" src="/images/gallery/02.jpg" alt=""></div>
              </div>
              <div class="oasi-gallery_row2">
                <div class="column1">
                  <div class="row">
                    <div class="h-rec"><img class="img-responsive" src="/images/gallery/horizontal_02.jpg" alt=""></div>
                  </div>
                  <div class="row squares">
                    <div class="square"><img class="img-responsive" src="/images/gallery/03.jpg" alt=""></div>
                    <div class="square"><img class="img-responsive" src="/images/gallery/04.jpg" alt=""></div>
                  </div>
                </div>
                <div class="column2">
                  <div class="row">
                    <div class="v-rec"><img class="img-responsive" src="/images/gallery/vertical.jpg" alt=""></div>
                  </div>
                </div>
                <div class="column3">
                  <div class="row">
                    <div class="square"><img class="img-responsive" src="/images/gallery/05.jpg" alt=""></div>
                    <div class="square"><img class="img-responsive" src="/images/gallery/06.jpg" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</main>

<script>
  $(document).ready(function() {
    $('#video-about').magnificPopup({
      type:'iframe',
      iframe: {
      markup: '<div class="mfp-iframe-scaler">'+
                '<div class="mfp-close"></div>'+
                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
              '</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button
      patterns: {
        youtube: {
          index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).

          id: 'v=', // String that splits URL in a two parts, second part should be %id%
          // Or null - full URL will be returned
          // Or a function that should return %id%, for example:
          // id: function(url) { return 'parsed id'; }

          src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
        }
        // you may add here more sources

      },
      srcAction: 'iframe_src' // Templating object key. First part defines CSS selector, second attribute. "iframe_src" means: find "iframe" and set attribute "src".
    }
    });
  });
</script>
