<div class='container'>
    <main id='main' role='main' class="small-text">
        <section class="privacy-page page-title">
            <h1 class="small-main-title">Aviso de privacidad</h1>
        </section>
        <section class="privacy section-footer">
          <p>GW SPRING OF LIFE MEXICO, S. DE R.L. DE C.V., con domicilio en AV. Reforma número 122, Piso 18, Colonia Cuauhtémoc, Delegación Cuauhtémoc, Código Postal 06600, Ciudad de México. </p>
          <p>De conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y en su Reglamento, hace de su conocimiento que la información de nuestros prospectos es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales, tales como:</p>
          <ul>
            <li>Nombre</li>
            <li>Domicilio</li>
            <li>Teléfonos Oficinas y Móviles</li>
            <li>Correo Electrónico o email</li>
            <li>Registro Federal de Contribuyentes</li>
          </ul>
          <h4>Finalidad en el tratamiento de sus datos personales:</h4>
          <p>Recabamos sus datos personales para los efectos mencionados en el presente Aviso de Privacidad con el objeto de utilizarlos única y exclusivamente para los siguientes fines:</p>
          <ol>
            <li>Para poder realizar los servicios de prospección y venta de generadores de agua, que nos ha confiado</li>
            <li>Campañas de Publicidad</li>
            <li>Campañas de Fidelidad</li>
            <li>Información y Prestación de Servicios</li>
            <li>Inscripción como Socio de Negocios en redes de Mercadeo</li>
            <li>Identificarlo como cliente y prestarle los servicios contratados con nosotros</li>
            <li>Para contactarlo y enviarle información relevante respecto de temas de nuestros servicios</li>
            <li>Cualquier finalidad análoga o compatible con las anteriores</li>
          </ol>
          <h4>Medios para limitar el uso o divulgación de sus datos personales:</h4>
          <p>Para prevenir el acceso no autorizado a sus datos personales y con el fin de asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, hemos establecido diversos procedimientos con la finalidad de evitar el uso o divulgación no autorizados de sus datos, permitiéndonos tratarlos debidamente.</p>
          <p>Asimismo le informamos que sus datos personales pueden ser transferidos y tratados dentro y fuera del País por personas distintas a GW SPRING OF LIFE MEXICO, S. DE R.L. DE C.V.</p>
          <h4>Medios para el ejercicio de sus derechos como titular de los datos personales:</h4>
          <p>Como titular de los datos personales objeto del presente Aviso de Privacidad usted podrá ejercitar sus derechos de acceso, rectificación, cancelación u oposición (Derechos ARCO), mismos que se consagran en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y en su Reglamento, derechos que podrá hacer valer a través del correo electrónico: contacto@oasi-mexico.com</p>
          <h4>Cambios al presente Aviso de Privacidad:</h4>
          <p>El presente Aviso de Privacidad podrá ser modificado; en todo caso, cualquier modificación al mismo será oportunamente informada a través de correo electrónico a la cuenta que usted nos proporcionó inicialmente, teléfono, o mediante publicación en nuestra página web: www.oasi-mexico.com, o por cualquier otro medio de comunicación que GW SPRING OF LIFE MEXICO, S. DE R.L. DE C.V. determine para tal efecto.</p>
          <p>Fecha de última actualización:  Enero de 2017</p>
        </section>
    </main>
</div>
