<main id='main' role='main'>
    <section class="contact-page page-title">
        <h1 class="small-main-title">Contáctanos</h1>
        <p>¿Tienes alguna duda o comentario?
            <br>Déjanos tus datos y en breve nos pondremos en contacto contigo.</p>
    </section>
    <section class="section-footer">
        <div class="contact">
            <div class="contact__form">
                <%= render :partial => "../form-copy" %>
                <%= render :partial => "../form-contact" %>
            </div>
            <div class="contact__info">
                <h3>En Oasi estamos para escucharte.</h3>
                <%= render :partial => "../contact-info" %>
            </div>
        </div>
    </section>
</main>
