<main id='main' role='main'>
  <section class="maintenance-page page-title">
    <div class="container">
      <h1 class="small-main-title">Mantenimiento</h1>
    </div>
  </section>
  <section class="light-gray-bg">
      <div class="container ">
        <div id="services">
            <div class="service__item">
                <div class="service__info">
                    <h3 class="service__title">Extensión de Garantia</h3>
                    <div class="service__description">
                        <p>En Oasi jamás estás solo, te guiamos los 20 años de vida de tu Generador de Agua del Aire y más. Adquiere una extensión de garantía, protege y obtén estos servicios sin costo adicional.</p>
                        <ul class="item__features">
                            <li>Visitas de nuestro Técnico Autorizado</li>
                            <li>Limpieza y cambio de filtros periódicamente</li>
                            <li>Diagnóstico y reparación de algún daño</li>
                        </ul>
                    </div>
                    <button class="btn hvr-fade service__button">Solicitar Servicio</button>
                </div>
                <div class="service__icon">
                    <img class="img-responsive" src="/images/icon-certificate.svg">
                </div>
            </div>
            <div class="service__item">
                <div class="service__info">
                    <h3 class="service__title">Mantenimiento</h3>
                    <div class="service__description">
                        <p>Cuida y protege tu Generador de Agua del Aire con los cuidados y protección necesaria.</p>
                        <ul class="item__features">
                            <li>Limpieza de los filtros</li>
                            <li>Diagnóstico de tu Generador de Agua del Aire</li>
                        </ul>
                    </div>
                    <button class="btn hvr-fade service__button">Solicitar Servicio</button>
                </div>
                <div class="service__icon">
                    <img class="img-responsive" src="/images/icon-wrench.svg">
                </div>
            </div>
            <div class="service__item">
                <div class="service__info">
                    <h3 class="service__title">Filtros</h3>
                    <div class="service__description">
                        <p>Es la parte más importante de tu Generador de Agua del Aire, Cuídalos y cambialos periódicamente.</p>
                        <ul class="item__features">
                            <li>Cambio e instalación de filtros</li>
                            <li>Visita del Técnico Autorizado</li>
                        </ul>
                    </div>
                    <button class="btn hvr-fade service__button">Solicitar Servicio</button>
                </div>
                <div class="service__icon">
                    <img class="img-responsive" src="/images/icon-funnel.svg">
                </div>
            </div>
        </div>
      </div>
  </section>
</main>
