<div class='container'>
<main id='main' role='main'>
  <section class="guarantee-page page-title">
      <h1 class="small-main-title">Registra tu Garantia</h1>
  </section>
  <section class="register-copy text-center">
    <h4>¡Gracias! Por pertenecer a la nueva generación de beber agua del aire.</h4>
    <p>A continuación déjanos los siguientes datos para generar tu garantía. Recuerda cuidar tu Generador de Agua del Aire y respetar los momentos de revisión, cambios de filtros, etc.</p>
  </section>
  <section class="section-footer">
    <div class="register-form">
      <%= render :partial => "../form-copy" %>
      <%= render :partial => "../form-guarantee-register" %>
    </div>
    <div class="register-info">
      <p>Con Oasi, jamás estás solo te guiamos en cada momento.</p>
      <p>Si tienes alguna duda sobre el llenado de este formulario o quisieras extender tu garantía comunícate con Felipe Abraham Velarde Martínez al 62 5126 6260 o envíanos un correo a <a href="mailto:radicalxvelarde@gmail.com">radicalxvelarde@gmail.com</a></p>
    </div>
  </section>
</main>
</div>
