// This file must be imported before loading html5-boilerplate

body {
  font-family: $copy-font;
  font-size: $font-size;
  background: #fff;
}

a {
  color: $main-color;
}

p {
  font-weight: 300;
  font-size: 1.125em;
  margin-bottom: 1em;
  color: $dark-gray;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-color;
  margin-top: 0;
}

h1 {
  font-family: $main-title-font;
}

h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 300;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;

}

h3 {
  font-size: 1.75em;
  text-transform: uppercase;
}

h4 {
  font-size: 1.375em;
}

section {
  display: inline-block;
  width: 100%;
  padding: 6em 0;
  background: #fff;
}

* {
  box-sizing: border-box;
}

label {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.75em;
  color: $dark-color;
}

input, textarea {
  border: 1px solid #a9bbc7;
  padding: 0.375em;
  border-radius: 2px;
}

textarea {
  width: 100%;
}

small, sub, sup {
  font-size: .53em
}
sub  {
  vertical-align: sub
}
sup {
  vertical-align: super
}
