/* BUTTONS */

.btn {
  border: 1px solid $accent-color;
  background: $accent-color;
  text-decoration: none;
  text-align: center;
  padding: 0.625em 3.25em;
  border-radius: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 1.25em;
  display: inline-block;
}

.btn:hover {
  background: transparent;
  color: $accent-color;
}

.btn-ghost {
  background: transparent;
  color: $accent-color;
}

.btn-ghost:hover {
  background: $accent-color;
  color: #fff;
}

.btn.btn-ghost-dark-bg {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.btn.btn-ghost-dark-bg:hover {
  border: 1px solid #fff;
  background: #fff;
  color: $dark-color;
}

/* INPUTS */


input {
  width: 86%;
}


label.error, label span, .error-mark {
  color: red;
  font-weight: 300;
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  input[name="name"], input[name="telephone"], input[name="email"],input[name="store"], input[name="date"], input[name="branch"], input[name="ticket"], input[name="model"] {
    width: 100%;
  }

  .submit {
    width: 100%;
  }
}
