.container {
  @include center($jeet-max-width);
  padding: 0 0.9375em;
}

footer, header, main {
  display: inline-block;
  width: 100%;
}

/* HEADER */

.main-header__container {
  display: flex;
}

.header-logo, .nav__primary {
  display: inline-block;
}

.nav__primary-wrapper {
  margin: 1em 0 0 0;
  width: 70%;
  display: flex;
}

.main-header {
  margin-bottom: 1.275em;
}

.header-logo {
  width: 20%;
}

.nav__primary {
  width: 78%;
  display: flex;
  align-items: flex-end;
}

.nav__primary ul {
  display: flex;
  justify-content: flex-start;
}

.nav__secondary-wrapper {
  margin: 1em 0 0 0;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.nav__secondary {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

/* FOOTER */

.footer__secondary-wrapper .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-footer {
  margin-bottom: 9.375em;
}


/* FAQ */

.faq {
  @include column(8/12, $offset: 2/12);
}

.faq__widget {
  @include span(1/2);
}

.faq_widget-logos__wrapper {
  @include column(2/6);
}

/* STORE */

.service__info {
  @include column(3/5);
}

.service__icon {
  @include column(2/5);
}


/* DISTRIBUTORS */

.distributors__item  {
  width: 100%;
}

.distributor {
  max-width: 786.86px;
}

.distributor__info {
  @include span(5/12);
}

.distributor__img {
  @include span(7/12);
}

/* CONTACT FORM */

.contact__form {
  @include column(4/12, $offset: 2/12);
}

.contact__info {
  @include column(4/12);
}

/* Small Devices, Tablets */
 @media only screen and (max-width : 768px) {

   .contact__form {
     @include column(6/12);
   }

   .contact__info {
     @include column(6/12);
   }

 }

 /* Extra Small Devices, Phones */
 @media only screen and (max-width : 480px) {
   .contact__form {
     @include column(12/12);
   }

   .contact__info {
     @include column(12/12);
   }
 }

/* HOME FEATURE */

#hero {
  padding-top: 0;
}

.hero__wrapper {
  @include column(4/12);
}

.hero-about .hero__wrapper, .hero-oasi-eco .hero__wrapper, .hero-oasi-industrial .hero__wrapper, .product-hero .hero__wrapper, .hero-home .hero__wrapper {
  @include column(6/12);
}

.hero-home .hero__wrapper {
  @include column(6/12, $offset: 6/12);
}

.product-hero .hero__wrapper-img {
  @include column(4/12, $offset: 1/12);
}


.feature {
  @include span(1/2); /* was 1/3 */
}

#features {
  padding: 6.25em 0;
}

/* HOME PRODUCTS */

.product.left {
  @include column(10/12);
}

.product.right {
  @include column(10/12, $offset: 2/12);
}

.product__img, .product__info {
  @include column(6/12);
}


/* PRODUCTS */


.feature-widget_wrapper {
  @include column(2/4);
}

.feature-widget_wrapper.single {
  @include column(2/4, $offset:1/4);
}


.product-gallery_item {
  @include column(1/4);
}


/* ABOUT US */

.about-us__copy, .about-us__img {
  @include column(8/12, $offset: 2/12);
}

.statement__wrapper.left {
  @include span(5/12, $offset: 1/12);
}

.statement__wrapper {
  @include span(5/12);
}

.member {
  @include column(1/4);
}

.case__description {
  @include column(10/12, $offset: 1/12);
}

.case-study__close {
  @include column(12/12);
}


/* RESPONSABILITY */

.responsability__wrapper {
  display: inline-block;
  width: 100%;
}

.responsability__main-title {
  @include column(8/12, $offset: 2/12);
}

.responsability__title {
  @include column(3/12, $offset: 1/12);
}

.responsability__copy {
  @include column(7/12);
}

.responsability__img {
  @include span(8/12);
}

.responsability__video {
  @include span(4/12);
}

.responsability__list {
  @include column(4/12, $offset: 4/12);
}

/* PRIVACY */

.privacy {
  @include column(8/12, $offset: 2/12);
}

/* NAVIGATION */

.nav__mobile-wrapper {
  display: none;
}

.nav__footer {
  width: 80%;
  margin: 0 auto;
}

 @media only screen and (max-width : 1007px) {

   .nav__mobile-wrapper {
     display: inline-block;
   }

   .nav__primary-wrapper, .nav__secondary-wrapper {
     display: none;
   }

 }

 /* TESTIMONIALS */

 .testimonials-wrapper {
   @include column(6/12, $offset: 3/12);
 }

 @media only screen and (max-width: 1019px) {

    .testimonials-wrapper {
     @include column(8/12, $offset: 2/12);
   }

 }


/* ITEMS */

.item, .items {
  display: inline-block;
  width: 100%;
}

.item.right .item__img  {
  @include column(4/12, $offset: 4/12);
}

.item.right .item__info  {
  @include column(4/12);
}

.item.left .item__img {
  @include column(4/12);
}

.item.left .item__info {
  @include column(4/12);
}

.item.center .item__img {
  @include column(4/12, $offset: 2/12);
}

.item.center .item__info  {
  @include column(4/12);
}

/* STORE */

#services {
  @include column(8/12, $offset: 2/12);
}


/* REGISTER GUARANTEE */

.register-form {
  @include column(5/12, $offset: 2/12);
}

.register-info {
  @include column(3/12);
}

.register-copy {
  @include column(8/12, $offset: 2/12);
}



/* MEDIA QUERIES */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  /* HERO */
  .hero__wrapper {
    @include column(6/12, $offset: 1/12);
  }

  .hero-about .hero__wrapper {
    @include column(6/12, $offset: 1/12);
  }

  /* HOME PRODUCTS */

  .product.left {
    @include column(12/12);
  }

  .product.right {
    @include column(12/12);
  }

  /* ABOUT US */

  .join__title {
    @include column(10/12, $offset: 1/12)
  }

  /* REGISTER GUARANTEE */

  .register-form {
    @include column(6/12, $offset: 1/12);
  }

  .register-info {
    @include column(4/12);
  }

  .register-copy {
    @include column(10/12, $offset: 1/12);
  }

  /* CONTACT FORM */

  .contact__form {
    @include column(5/12, $offset: 1/12);
  }

  .contact__info {
    @include column(5/12);
  }

  /* PRIVACY */

  .privacy {
    @include column(10/12, $offset: 1/12);
  }

  /* FAQ */

  .faq {
    @include column(10/12, $offset: 1/12);
  }

  /* PRODUCTS */

  .product-gallery_item {
    @include span(1/2);
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  /* ABOUT US */
  .member {
    @include column(6/12);
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  /* HERO */
  .hero__wrapper {
    @include column(10/12, $offset: 1/12);
  }

  .hero-about .hero__wrapper {
    @include column(10/12, $offset: 1/12);
  }

  /* HOME FEATURE */
  .feature {
    @include span(3/3);
  }

  .product__img, .product__info {
    @include column(1/1);
  }

  /* REGISTER GUARANTEE */

  .register-form {
    @include column(12/12);
  }

  .register-info {
    @include column(12/12);
  }

  /* STORE */

  #services {
    @include column(12/12);
  }

  /* STORE */

  .service__info {
    @include column(5/5);
  }

  .service__icon {
    @include column(5/5);
  }

  /* ABOUT US */

  .statement__wrapper.left {
    @include span(10/12, $offset: 1/12);
  }

  .statement__wrapper {
    @include span(10/12, $offset: 1/12);
  }

  .member {
    @include column(12/12);
  }

  /* DISTRIBUTORS */


  .distributor__info {
    @include span(12/12);
  }

  .distributor__img {
    @include span(12/12);
  }

  /* CONTACT FORM */

  .contact__form {
    @include column(12/12);
  }

  .contact__info {
    @include column(12/12);
  }

  /* PRODUCTS */

  .feature-widget_wrapper, .feature-widget_wrapper.single {
    @include column(1/1);
  }

  .product-hero .hero__wrapper-img, .product-hero .hero__wrapper {
    @include column(12/12);
  }

  .product-gallery_item {
    @include column(1/1);
  }

  /* RESPONSABILITY */

  .responsability__list, .responsability__title, .responsability__copy {
    @include column(1/1);
  }

  .responsability-case {
    flex-direction: column;
  }
}

/* MEDIA QUERIES * /


/* Custom */
@media only screen and (max-width : 1132px) {
  /* ABOUT US */
  .hero-about .hero__wrapper {
    @include column(8/12);
  }

}

/* Custom */
@media only screen and (max-width : 1091px) {
  /* ABOUT US */
  .hero-social-r .hero__wrapper {
    @include column(5/12);
  }

}


/* Custom */
@media only screen and (max-width : 860px) {
  /* ABOUT US */
  .hero-about .hero__wrapper {
    @include column(9/12);
  }

}


/* Custom */
@media only screen and (max-width : 880px) {
  /* ABOUT US */
  .hero-social-r .hero__wrapper {
    @include column(7/12);
  }

}

/* Custom */
@media only screen and (max-width : 800px) {

  .product-hero .hero__wrapper {
    @include column(12/12);
  }

  .product-hero .hero__wrapper-img {
    @include column(5/12, $offset:3/12);
  }

}


/* Custom */
@media only screen and (max-width : 771px) {
  /* ABOUT US */
  .hero-about .hero__wrapper {
    @include column(10/12);
  }

}

/* Custom */
@media only screen and (max-width : 774px) {
  /* ABOUT US */
  .hero-home .hero__wrapper {
    @include column(8/12, $offset:4/12);
  }

}



/* Custom */
@media only screen and (max-width : 699px) {
  /* ABOUT US */
  .hero-about .hero__wrapper {
    @include column(11/12);
  }

}


/* Custom */
@media only screen and (max-width : 634px) {
  /* ABOUT US */
  .hero-about .hero__wrapper {
    @include column(12/12);
  }

}

/* Custom */
@media only screen and (max-width : 618px) {
  /* ABOUT US */
  .hero-home .hero__wrapper {
    @include column(8/12);
  }

}


/* Custom */
@media only screen and (max-width : 555px) {
  /* ABOUT US */
  .hero-home .hero__wrapper {
    @include column(9/12);
  }

}


/* Custom */
@media only screen and (max-width : 532px) {
  /* ABOUT US */
  .hero-social-r .hero__wrapper {
    @include column(9/12);
  }

}


/* Custom */
@media only screen and (max-width : 496px) {
  /* ABOUT US */
  .hero-home .hero__wrapper {
    @include column(10/12);
  }

}

/* Custom */
@media only screen and (max-width : 496px) {
  /* ABOUT US */
  .hero-home .hero__wrapper {
    @include column(12/12);
  }

}
