/* NAVIGATION */


.nav ul {
  list-style-type: none;
  padding-left: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: .5em;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav__primary ul a, .nav__secondary ul a, .nav__footer ul a {
  text-decoration: none;
}

.nav__primary ul a {
  color: $dark-gray;
  padding: .5em 1em;
  width: 100%;
  text-align: left;
}

.nav__secondary ul a {
  color: $dark-color;
  padding: .4em 0 .6em;
}

.nav__footer ul a {
  color: $dark-gray;
}

.nav__primary ul {
  text-align: right;
  width: 100%;
  color: $dark-gray;
  text-transform: uppercase;
}


.nav__secondary ul {
  text-align: right;
  margin: 1em 0 .7em 0;
}

.nav__footer ul {
  display: flex;
  justify-content: space-between;
}

/* Menu Dropdown */

.nav__primary ul.nav__sub-category {
  display: none;
}

li.nav__sub-category {
  position: relative;
  margin-top: 8px;
}

.nav__primary ul li:hover > ul {
  display: block;
  position: absolute;
  min-width: 171px;
  margin: 0;
  z-index: 1;
  background: #fff;
}

ul.nav__sub-category li:first-child {
  padding-top: 1.225em;
}

ul.nav__sub-category li {
  text-align: center;
  width: 100%;
  font-size: 0.875em;
  padding-top: 5px;
}

.mm-listview {
  text-align: center;
}


/* Small Devices, Tablets */
 @media only screen and (max-width : 1007px) {

   .nav__mobile-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.625em;
     width: 100%;
   }

   .mobile-menu-btn {
     padding-bottom: 5px;
     text-decoration: none;
     color: $dark-gray;
   }

   .nav ul li {
    margin-right: .5em;
   }

 }



/* FOOTER */

.footer {
  background: $dark-color;
  color: #fff;
}

.footer__copyright {
  text-align: left;
}

.footer__copyright img {
  height: 25px;
  width: 54px;
}

.footer__social {
  text-align: right;
}

.footer__main-wrapper {
  padding: 3em 0;
  border-bottom: 1px solid #fff;
}

.footer__secondary-wrapper {
  padding: .7em 0 1em;
  font-weight: 300;
  font-size: 0.875em;
}

.footer__social svg {
    margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  .nav__footer ul {
    flex-direction: column;
  }

  .nav__footer ul li {
    text-align: center;
    padding: 0.625em 0;
    margin-right: 0;
  }

  .nav__footer ul {
    margin: 0;
  }
}


/* FEATURES */

.feature {
  text-align: center;
  border-right: 1px solid #fff;
  padding: 1.25em;
}

.feature:last-child {
  border-right: none;
}

.feature * {
  display: inline-block;
}

.feature__image, .feature__description {
  margin-bottom: 1.875em;
}

.feature p:last-of-type {
  margin-bottom: 0;
}

/* HOME PRODUCTS */

.product {
  text-align: center;
  padding: 2.5em 2em;
  display: flex;
}

.product * {
  display: inline-block;
}

.product__title, .product__description {
  width: 100%;
}

.product__info {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__img * {
  margin: 0;
}

.product__img p {
  width: 80%;
}

/* FORM */

.input-group {
  width: 100%;
  margin-bottom: 1.5625em;

}


/* MAPS */

.contact__map {
  position: relative;
  height: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  display: block;
  clear: both;
  min-height: 380px;
}

/* DISTRIBUTORS */

.distributor {
  padding: 1em 0 0.5em;
  background: #fff;
}

.distributors__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
  padding: 4.125em 0;
}

.distributors__item.interlomas {
  background:transparent url('../images/distributors/liverpool/maps_interlomas.jpg') center center no-repeat;
}

.distributors__item.perisur {
  background:transparent url('../images/distributors/liverpool/maps_perisur.jpg') center center no-repeat;
}

.distributors__item.polanco {
  background:transparent url('../images/distributors/liverpool/maps_polanco.jpg') center center no-repeat;
}

.distributors__item.santa-fe {
  background:transparent url('../images/distributors/liverpool/maps_santafe.jpg') center center no-repeat;
}

.distributors__item.perinorte {
  background:transparent url('../images/distributors/liverpool/maps_perinorte.jpg') center center no-repeat;
}

.distributors__item.cancun {
  background:transparent url('../images/distributors/liverpool/maps_cancun.jpg') center center no-repeat;
}

.distributors__item.merida {
  background:transparent url('../images/distributors/liverpool/maps_merida.jpg') center center no-repeat;
}

.distributors__item.insurgentes {
  background:transparent url('../images/distributors/liverpool/maps_insurgentes.jpg') center center no-repeat;
}

.distributors__item.veracruz {
  background:transparent url('../images/distributors/liverpool/maps_veracruz.jpg') center center no-repeat;
}

.distributors__item.tampico {
  background:transparent url('../images/distributors/liverpool/maps_tampico.jpg') center center no-repeat;
}

.distributors__item.monterrey {
  background:transparent url('../images/distributors/liverpool/maps_monterrey.jpg') center center no-repeat;
}

.distributors__item.villahermosa {
  background:transparent url('../images/distributors/liverpool/maps_villahermosa.jpg') center center no-repeat;
}

.distributors__item:last-child {
  margin-bottom: 7.5em;
}

.distributors__item.right {
  justify-content: flex-end;
}

.distributor__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 276px;
  padding: 0.625em;
}

.distributor__map, .distributor__address {
  font-size: 0.875em;
  font-weight: 300;
}

.distributor__map {
  margin-top: 1em;
}

.distributor__address {
  color: $dark-gray;
  margin-bottom: 0;
  line-height: 24px;
}

.distributor__phone {
  font-weight: 400;
}

.distributors__title {
  margin-bottom: 1.875em;
}

.distributors__title.liverpool {
  background:transparent url('../images/logos/liverpool.png') center center no-repeat;
  min-height: 80px;
}

.distributors__title.office-depot {
  background:transparent url('../images/logos/office-depot.png') center center no-repeat;
}

.distributors__title.liverpool, .distributors__title.office-depot  {
  text-indent: -99999px;
  background-size: contain;
}

.distributor-lists {
  display: flex;
  padding: 0 5%;
  justify-content: center;
  align-items: flex-start;
}

.distributor-lists_wrapper {
  width: 40%;
  margin: 10% 0;
  text-align: center;
}

ul.distributors-list {
  margin: 0;
  padding: 0;
}

ul.distributors-list li {
  list-style: none;
  margin-bottom: 5px;
}

ul.distributors-list li:last-child {
  margin-bottom: 0;
}

/* FAQ */

.faq p {
  font-size: 1em;
}

.faq__item {
  margin-bottom: 3.125em;
}

.faq__question {
  font-size: 1.125em;
  cursor: pointer;
}

.faq__widget {
  border-right: 1px solid #fff;
  padding: 1.5em;
}

.faq__widget-icon {
  width: 80px;
}

.faq__widget:last-child {
  border-right: none;
}

.faq__widget-wrapper *, .faq__widget-wrapper .contact__detail {
  color: #fff;
}

.faq__widget-title, .faq__widget-copy, .faq__widget p  {
  text-align: center;
}

.faq__widget-title {
  text-transform: uppercase;
}

.faq__widget p:last-child {
  margin-bottom: 0;
}

.faq__widget-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5em;
  flex-wrap: wrap;
  align-items: center;
}

.faq__widget-logos > img:last-child, .faq__widget-logos > img:nth-child(even)  {
  margin-right: 0;
}

.faq__widget-logos > img  {
  margin-bottom: 2.5em;
}

.faq__widget-logos > img:nth-last-of-type(-n+2)  {
  margin-bottom: 0;
}

.faq-open, .faq-close {
  display: inline-block;
  width: 26px;
  height: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.faq-open {
  background: url('/images/faq-open.png');
}

.faq-close {
  background: url('/images/faq-close.png');
}


/* SERVICES */

.service__item {
  display: inline-block;
  margin-bottom: 9.125em;
}

.service__item:last-child {
  margin-bottom: 0;
}

.service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 163px;
  background: #fff;
  border-radius: 50%;
  width: 163px;
  text-align: right;
  margin-left: 50px;
}

.service__icon img {
  width: 100px;
}

.service__description {
  margin-bottom: 1.75em;
}

/* ABOUT US */

.about-us__img {
  text-align: center;
  margin-bottom: 1.875em;
}

.about-us__img img {
  max-width: 450px;
}

.member {
  text-align: center;
}

.member__img {
  max-width: 220px;
  margin-bottom: 1em;
}

.member__name {
  font-weight: 400;
}

.case {
  margin-bottom: 3.125em;
}

.case__title-wrapper {
  padding: 10.625em;
  margin-bottom: 3.125em;
}

.case-study__title {
  margin-bottom: 3.125em;
}

.case-study__close-wrapper {
  padding: 8em 3em 3em;
  display: flex;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  align-items:center;
  background:transparent url('/images/home-hero-bg.jpg') left center no-repeat;
  margin-bottom: 5em;
  background-size: cover;
}

.case-study__close {
  font-weight:bold;
  margin-bottom: 50px;
}

.case__title-wrapper.holbox {
  background:transparent url('/images/casa_iguana_holbox.jpg') left center no-repeat;
}

.case__title-wrapper.libertad {
  background:transparent url('/images/banco-libertad-bg.jpg') left -80px no-repeat;
}

.case__title-wrapper.colegio {
  background:transparent url('/images/colegio_britanico_cancun.jpg') left -80px no-repeat;
}

.case__title {
  color: $accent-color;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.case:last-child {
  margin-bottom: 0;
}

.join {
  text-align: center;
}

.statement * {
  color: #fff;
  text-align: center;
}

.statement__wrapper {
  padding: 4.1875em 0;
}

.statement__wrapper.right {
  padding-left: 1.25em;
}

.statement__wrapper.left {
  padding-right: 1.25em;
  border-right: 1px solid #fff;
}


#about-video, #about {
  position: relative;
}


/* about us gallery */

.oasi-gallery_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oasi-gallery_wrapper * {
  margin: 0;
  line-height: 0;
}

.oasi-gallery {
  width: 100%;
  float: left;
  margin: auto 0;
}

.oasi-gallery_row1, .oasi-gallery_row2 .row .squares, .oasi-gallery_row2, .row.squares {
  display: flex;
}

.oasi-gallery_wrapper img {
  border: 6px solid #F6F7F9;
}

.v-rec img {
  height: -webkit-calc(100% + 200px);
  height:    -moz-calc(100% + 200px);
  height:      -o-calc(100% + 200px);
}


/* HERO */

.responsability-page, .contact-page ,.faq-page, .privacy-page, .distributors-page, .sales-team-page, .maintenance-page, .guarantee-page {
  text-align: center;
}

.distributors-page * {
  color: #fff;
}

.page-title {
  padding: 6em 0 3em;
  margin-bottom: 0;
}

.form-title {
  padding: 0;
  margin-bottom: 0;
}


/* CONTACT */

.contact__detail {
  color: $dark-color;
  font-weight: 400;
}

.contact__title {
  text-align: center;
  margin-bottom: 3.125em;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .contact__form {
    margin-bottom: 3.125em;
  }
}

/* RESPONSABILITY */

.responsability {
  padding-top: 0;
}

.responsability-case {
  display: flex;
  align-items: center;
  padding: 5.625em 0;
}

.resposability-case p:last-child {
  margin: 0;
}

.responsability__main-title, .responsability__title {
  text-align: center;
}

.responsability__title h3 {
  font-weight: 400;
}

#main .responsability:last-child {
  padding-bottom: 0;
}

.responsability__copy p:last-child {
  margin-bottom: 0;
}


/* TESTIMONIALS */

.testimonials-wrapper {
  position: relative;
}

.prev-testimonial, .next-testimonial {
  position: absolute;
  cursor: pointer;
}

.prev-testimonial {
  top: 39%;
  left: -15%;
}

.next-testimonial {
  top: 39%;
  right: -15%;
}

.testimonial {
  display: flex;
}

.testimonial__text {
    margin: 0 0 0 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 434px) {
  .prev-testimonial {
    top: 470px;
  }

  .next-testimonial {
    top: 470px;
  }
}

@media only screen and (max-width: 585px) {
  .prev-testimonial {
    top: 420px;
    left: 40%;
  }

  .next-testimonial {
    top: 420px;
    right: 40%;
  }

  .distributor-lists {
    padding: 0 1.5%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .distributor-lists_wrapper {
    width: 100%;
    margin: 10% 0;
    margin-bottom: 35px;
  }

  .distributor-lists_wrapper:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 863px) {
  .testimonial {
    flex-direction: column;
  }

  .testimonial__img {
    max-width: 150px;
    display: inline-block!important;
  }

  .testimonial {
    text-align: center;
  }

  .testimonial__text {
    margin: 0;
  }
}


/* ITEMS */

.item {
  margin-bottom: 5.625em;
}

.item__features li {
  list-style: none;
  background: url('/images/drop.svg');
  background-repeat: no-repeat;
  padding: 8px 0 8px 24px;
  background-size: 28px 12px;
  background-position: -3px center;
}


/* PRODUCTS */

.product-hero {
  background:transparent url('/images/product-hero-bg') center top no-repeat;
}

.feature-widget_wrapper {
  padding: 15px;
}

.feature-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  justify-content: center;
}

.fw-icon_wrapper {
  width: 100px;
  background: #fff;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.fw-icon {
  width: 55%;
}

.pdf-download_link  {
  display: flex;
  align-items: center;
}

.pdf-download_link svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.pdf-download_link-wrapper:hover path {
  fill: $accent-color;
}

.pdf-download_icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.product-thumb {
  border: 1px solid #cdcdcd;
}

.hero-oasi-eco .hero__wrapper-img {
  width: 22%;
}


/* HERO */

.hero {
  padding: 12em 0 12em 3em;
}

.hero p {
  font-size: 1.3125em;
  line-height: 1.375em;
}

.hero-home {
  background: #EFF0F2 url('/images/sobre_oasi-bg.jpg') right center no-repeat;
  /* background: #EFF0F2 url('/images/home-hero-bg.jpg') center center no-repeat; */
  margin-bottom: 0;
  background-size: cover;
}

.product-hero {
  background: #EFF0F2 url('/images/product-hero-bg.jpg') right center no-repeat;
  margin-bottom: 0;
  background-size: cover;
  padding: 7em 0 7em 3em;
}

.hero-about {
  background: #EFF0F2 url('/images/nosotros_banner.jpg') left center no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.hero-social-r {
  background: #EFF0F2 url('/images/responsabilidad_banner.jpg') left center no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.hero-about .hero__wrapper h1, .hero-about .hero__wrapper p, .hero-social-r .hero__wrapper h1, .hero-social-r .hero__wrapper p  {
  color: #fff;
}

.feature *{
  color: #fff;
}

.hero-home .hero__wrapper {
  margin-right: 50px !important;
}

.hero-home .hero__wrapper {

}


/* CERTIFICATIONS */

.certifications {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.75em;
}

.certifications-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}

.certifications-row:last-child {
  margin-bottom: 0;
}

.certification {
  max-width: 160px;
  display: flex;
  align-items: center;
}

/* MEDIA QUERIES */



/* Custom */
@media only screen and (max-width : 1145px) {

  .hero-home {
      background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -102px center / cover ;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


/* HOME */

.hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -132px center / cover ;
}


 /* ABOUT US */
 #about-video::before {
  top: -197px;
 }

 /* PRODUCTS */

 .product-gallery_item {
   padding: 0;
   margin: 0;
   margin-bottom: -4px;
   margin-right: -1px;
 }

}


/* Custom */
@media only screen and (max-width : 936px) {

  .hero-home {
      background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -192px center / cover ;
  }

}


/* Custom */
@media only screen and (max-width : 867px) {

  .hero-home {
      background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -242px center / cover ;
  }

}



/* Custom */
@media only screen and (max-width : 800px) {

  .product-hero .hero__wrapper-img {
    margin-top: 3em;
  }

}



/* Custom */
@media only screen and (max-width : 936px) {

  .hero-home {
      background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -290px center / cover ;
  }

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #home-certifications::before {
     top: -131px;
  }
 /* ABOUT US */
  .member:nth-child(2) {
    margin-right: 0;
  }

  .case__title-wrapper.holbox {
    background: transparent url(/images/casa_iguana_holbox.jpg) center center no-repeat;
  }

  .case__title-wrapper.colegio {
    background: transparent url(/images/colegio_britanico_cancun.jpg) center -80px no-repeat;
  }
}

/* Custom */
@media only screen and (max-width : 700px) {

  .hero {
    padding: 12em 0 12em .5em;
  }

  .hero-about .hero__wrapper h1, .hero-social-r .hero__wrapper h1, .hero-home .hero__wrapper h1 {
    font-size: 3.5em
  }

}


/* Custom */
@media only screen and (max-width : 660px) {

  .oasi-gallery {
    width: 65%;
  }

  .oasi-gallery_row1, .oasi-gallery_row2 .row .squares, .oasi-gallery_row2, .row.squares {
   flex-direction: column;
  }

  .oasi-gallery_row2 .column1, .oasi-gallery_row2 .column2, .oasi-gallery_row2 .column3 {
   width: 100%;
  }

}


/* Custom */
@media only screen and (max-width : 618px) {
  .hero-home {
      background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -730px center / cover ;
  }

}

/* Custom */
@media only screen and (max-width : 490px) {

.hero-about .hero__wrapper h1, .hero-social-r .hero__wrapper h1, .hero-home .hero__wrapper h1 {
  font-size: 3em
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  /* HERO */

  .hero {
    padding: 6em 0 6em 0;
    font-size: .8em;
  }


  /* PAGES */

  .page-title {
    padding: 3em 0;
    font-size: .8em;
  }


  /* FOOTER */

  .footer__social {
    align-items: flex-end;
  }


  /* SECTION */

  section {
    padding: 3em 0;
  }

  .section-footer {
    margin-bottom: 3.375em;
  }

  /* HOME PRODUCTS */
  .product {
    flex-direction: column;
  }

  .product.right {
    flex-direction: column-reverse;
  }

  .product__info {
    margin: 0;
  }

  /* HOME FEATURE */
  .feature {
    border-right: none;
  }

  #home-certifications::before {
    top: -87px;
  }

  .prev-testimonial, .next-testimonial {
      top: 150px;
  }

  .prev-testimonial {
      left: -50px;
  }

  .next-testimonial {
      right: -50px;
  }


  /* ABOUT US */
  .statement__wrapper.left {
    padding-right: 0;
    border-right: none;
  }

  .statement__wrapper.right {
    padding-left: 0;
  }

  .member {
    margin-bottom: 3.75em;
  }

  .case__title-wrapper {
    padding: 4em 0 2em;
  }


  /* FAQ */

  .faq__widget {
    width: 100%;
    border: none;
    margin-bottom:5em;
  }

  .faq__widget:last-child {
    margin-bottom:0;
  }

  /* PRODUCTS */

  .product-hero .hero__wrapper-img, .product-hero .hero__wrapper {
    font-size: .8em;
  }

  .product-hero {
    padding: 10% 0;
  }

  .product-gallery_item {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .product-gallery_item:last-child {
    margin-bottom: 0;
  }

  /* RESPONSABILITY */

  .hero-social-r {
    padding: 6em 0 6em 0;
  }
}
