$main-color: #1caed6;
$secondary-color: gray;
$light-gray: #F6F7F9;
$dark-gray: #5e7f95;
$dark-color: #040216;
$accent-color: #554d99;

$copy-font: 'Lato', sans-serif;
$main-title-font: 'Capriola', sans-serif;
$title-font: 'Lato', sans-serif;
$font-size: 16px;
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;
