/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 11, ../sass/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 29, ../sass/partials/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, ../sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, ../sass/partials/_reset.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, ../sass/partials/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 73, ../sass/partials/_reset.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 85, ../sass/partials/_reset.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 93, ../sass/partials/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 107, ../sass/partials/_reset.scss */
h1 {
  font-size: 2em;
}

/* line 112, ../sass/partials/_reset.scss */
p {
  margin: 0;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 120, ../sass/partials/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 128, ../sass/partials/_reset.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 137, ../sass/partials/_reset.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 145, ../sass/partials/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 155, ../sass/partials/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 167, ../sass/partials/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 177, ../sass/partials/_reset.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 185, ../sass/partials/_reset.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 193, ../sass/partials/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 201, ../sass/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 205, ../sass/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 217, ../sass/partials/_reset.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 225, ../sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 237, ../sass/partials/_reset.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 249, ../sass/partials/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 260, ../sass/partials/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 271, ../sass/partials/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 285, ../sass/partials/_reset.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 298, ../sass/partials/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 310, ../sass/partials/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 320, ../sass/partials/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 332, ../sass/partials/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 344, ../sass/partials/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 353, ../sass/partials/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 364, ../sass/partials/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 377, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/partials/_base.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: #fff;
}

/* line 9, ../sass/partials/_base.scss */
a {
  color: #1caed6;
}

/* line 13, ../sass/partials/_base.scss */
p {
  font-weight: 300;
  font-size: 1.125em;
  margin-bottom: 1em;
  color: #5e7f95;
}

/* line 20, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #040216;
  margin-top: 0;
}

/* line 25, ../sass/partials/_base.scss */
h1 {
  font-family: "Capriola", sans-serif;
}

/* line 29, ../sass/partials/_base.scss */
h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 34, ../sass/partials/_base.scss */
h1 {
  font-size: 4em;
}

/* line 38, ../sass/partials/_base.scss */
h2 {
  font-size: 3em;
}

/* line 43, ../sass/partials/_base.scss */
h3 {
  font-size: 1.75em;
  text-transform: uppercase;
}

/* line 48, ../sass/partials/_base.scss */
h4 {
  font-size: 1.375em;
}

/* line 52, ../sass/partials/_base.scss */
section {
  display: inline-block;
  width: 100%;
  padding: 6em 0;
  background: #fff;
}

/* line 59, ../sass/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 63, ../sass/partials/_base.scss */
label {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.75em;
  color: #040216;
}

/* line 70, ../sass/partials/_base.scss */
input, textarea {
  border: 1px solid #a9bbc7;
  padding: 0.375em;
  border-radius: 2px;
}

/* line 76, ../sass/partials/_base.scss */
textarea {
  width: 100%;
}

/* line 80, ../sass/partials/_base.scss */
small, sub, sup {
  font-size: 0.53em;
}

/* line 83, ../sass/partials/_base.scss */
sub {
  vertical-align: sub;
}

/* line 86, ../sass/partials/_base.scss */
sup {
  vertical-align: super;
}

/* line 1, ../sass/partials/_helper.scss */
.img-responsive {
  width: 100%;
  display: inline-block;
}

/* line 6, ../sass/partials/_helper.scss */
.small-text p {
  font-size: 1em;
}

/* line 10, ../sass/partials/_helper.scss */
.small-main-title {
  font-size: 3em;
}

/* line 14, ../sass/partials/_helper.scss */
.light-gray-bg {
  background: #F6F7F9;
}

/* line 18, ../sass/partials/_helper.scss */
.dark-color-bg {
  background: #040216;
}

/* line 22, ../sass/partials/_helper.scss */
.no-margin {
  margin: 0 !important;
}

/* line 26, ../sass/partials/_helper.scss */
.text-center {
  text-align: center !important;
}

/* ANIMATIONS */
/* BORDER TRANSITIONS */
/* Underline From Center */
/* line 34, ../sass/partials/_helper.scss */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

/* line 46, ../sass/partials/_helper.scss */
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #1caed6;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 62, ../sass/partials/_helper.scss */
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Underline From Left */
/* line 69, ../sass/partials/_helper.scss */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

/* line 81, ../sass/partials/_helper.scss */
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 97, ../sass/partials/_helper.scss */
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* BACKGROUND TRANSITIONS */
/* Fade */
/* line 103, ../sass/partials/_helper.scss */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 118, ../sass/partials/_helper.scss */
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #554d99;
  color: #fff;
}

/* line 1, ../sass/partials/_layout.scss */
.container {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 0.9375em;
}

/* line 6, ../sass/partials/_layout.scss */
footer, header, main {
  display: inline-block;
  width: 100%;
}

/* HEADER */
/* line 13, ../sass/partials/_layout.scss */
.main-header__container {
  display: flex;
}

/* line 17, ../sass/partials/_layout.scss */
.header-logo, .nav__primary {
  display: inline-block;
}

/* line 21, ../sass/partials/_layout.scss */
.nav__primary-wrapper {
  margin: 1em 0 0 0;
  width: 70%;
  display: flex;
}

/* line 27, ../sass/partials/_layout.scss */
.main-header {
  margin-bottom: 1.275em;
}

/* line 31, ../sass/partials/_layout.scss */
.header-logo {
  width: 20%;
}

/* line 35, ../sass/partials/_layout.scss */
.nav__primary {
  width: 78%;
  display: flex;
  align-items: flex-end;
}

/* line 41, ../sass/partials/_layout.scss */
.nav__primary ul {
  display: flex;
  justify-content: flex-start;
}

/* line 46, ../sass/partials/_layout.scss */
.nav__secondary-wrapper {
  margin: 1em 0 0 0;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

/* line 53, ../sass/partials/_layout.scss */
.nav__secondary {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

/* FOOTER */
/* line 61, ../sass/partials/_layout.scss */
.footer__secondary-wrapper .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 67, ../sass/partials/_layout.scss */
.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 73, ../sass/partials/_layout.scss */
.section-footer {
  margin-bottom: 9.375em;
}

/* FAQ */
/* line 80, ../sass/partials/_layout.scss */
.faq {
  float: left;
  clear: none;
  width: 66.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.faq:last-child {
  margin-right: 0;
}

/* line 84, ../sass/partials/_layout.scss */
.faq__widget {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

/* line 88, ../sass/partials/_layout.scss */
.faq_widget-logos__wrapper {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.faq_widget-logos__wrapper:last-child {
  margin-right: 0;
}

/* STORE */
/* line 94, ../sass/partials/_layout.scss */
.service__info {
  float: left;
  clear: none;
  width: 59.2%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.service__info:last-child {
  margin-right: 0;
}

/* line 98, ../sass/partials/_layout.scss */
.service__icon {
  float: left;
  clear: none;
  width: 38.8%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.service__icon:last-child {
  margin-right: 0;
}

/* DISTRIBUTORS */
/* line 105, ../sass/partials/_layout.scss */
.distributors__item {
  width: 100%;
}

/* line 109, ../sass/partials/_layout.scss */
.distributor {
  max-width: 786.86px;
}

/* line 113, ../sass/partials/_layout.scss */
.distributor__info {
  float: left;
  clear: none;
  width: 41.6666666667%;
  margin-left: 0;
  margin-right: 0;
}

/* line 117, ../sass/partials/_layout.scss */
.distributor__img {
  float: left;
  clear: none;
  width: 58.3333333333%;
  margin-left: 0;
  margin-right: 0;
}

/* CONTACT FORM */
/* line 123, ../sass/partials/_layout.scss */
.contact__form {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.contact__form:last-child {
  margin-right: 0;
}

/* line 127, ../sass/partials/_layout.scss */
.contact__info {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.contact__info:last-child {
  margin-right: 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 134, ../sass/partials/_layout.scss */
  .contact__form {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__form:last-child {
    margin-right: 0;
  }

  /* line 138, ../sass/partials/_layout.scss */
  .contact__info {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__info:last-child {
    margin-right: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 146, ../sass/partials/_layout.scss */
  .contact__form {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__form:last-child {
    margin-right: 0;
  }

  /* line 150, ../sass/partials/_layout.scss */
  .contact__info {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__info:last-child {
    margin-right: 0;
  }
}
/* HOME FEATURE */
/* line 157, ../sass/partials/_layout.scss */
#hero {
  padding-top: 0;
}

/* line 161, ../sass/partials/_layout.scss */
.hero__wrapper {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.hero__wrapper:last-child {
  margin-right: 0;
}

/* line 165, ../sass/partials/_layout.scss */
.hero-about .hero__wrapper, .hero-oasi-eco .hero__wrapper, .hero-oasi-industrial .hero__wrapper, .product-hero .hero__wrapper, .hero-home .hero__wrapper {
  float: left;
  clear: none;
  width: 49%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.hero-about .hero__wrapper:last-child, .hero-oasi-eco .hero__wrapper:last-child, .hero-oasi-industrial .hero__wrapper:last-child, .product-hero .hero__wrapper:last-child, .hero-home .hero__wrapper:last-child {
  margin-right: 0;
}

/* line 169, ../sass/partials/_layout.scss */
.hero-home .hero__wrapper {
  float: left;
  clear: none;
  width: 49%;
  margin-left: 51%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.hero-home .hero__wrapper:last-child {
  margin-right: 0;
}

/* line 173, ../sass/partials/_layout.scss */
.product-hero .hero__wrapper-img {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 8.5%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.product-hero .hero__wrapper-img:last-child {
  margin-right: 0;
}

/* line 178, ../sass/partials/_layout.scss */
.feature {
  float: left;
  clear: none;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  /* was 1/3 */
}

/* line 182, ../sass/partials/_layout.scss */
#features {
  padding: 6.25em 0;
}

/* HOME PRODUCTS */
/* line 188, ../sass/partials/_layout.scss */
.product.left {
  float: left;
  clear: none;
  width: 83.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.product.left:last-child {
  margin-right: 0;
}

/* line 192, ../sass/partials/_layout.scss */
.product.right {
  float: left;
  clear: none;
  width: 83.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.product.right:last-child {
  margin-right: 0;
}

/* line 196, ../sass/partials/_layout.scss */
.product__img, .product__info {
  float: left;
  clear: none;
  width: 49%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.product__img:last-child, .product__info:last-child {
  margin-right: 0;
}

/* PRODUCTS */
/* line 204, ../sass/partials/_layout.scss */
.feature-widget_wrapper {
  float: left;
  clear: none;
  width: 49%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.feature-widget_wrapper:last-child {
  margin-right: 0;
}

/* line 208, ../sass/partials/_layout.scss */
.feature-widget_wrapper.single {
  float: left;
  clear: none;
  width: 49%;
  margin-left: 25.5%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.feature-widget_wrapper.single:last-child {
  margin-right: 0;
}

/* line 213, ../sass/partials/_layout.scss */
.product-gallery_item {
  float: left;
  clear: none;
  width: 23.5%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.product-gallery_item:last-child {
  margin-right: 0;
}

/* ABOUT US */
/* line 220, ../sass/partials/_layout.scss */
.about-us__copy, .about-us__img {
  float: left;
  clear: none;
  width: 66.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.about-us__copy:last-child, .about-us__img:last-child {
  margin-right: 0;
}

/* line 224, ../sass/partials/_layout.scss */
.statement__wrapper.left {
  float: left;
  clear: none;
  width: 41.6666666667%;
  margin-left: 8.3333333333%;
  margin-right: 0;
}

/* line 228, ../sass/partials/_layout.scss */
.statement__wrapper {
  float: left;
  clear: none;
  width: 41.6666666667%;
  margin-left: 0;
  margin-right: 0;
}

/* line 232, ../sass/partials/_layout.scss */
.member {
  float: left;
  clear: none;
  width: 23.5%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.member:last-child {
  margin-right: 0;
}

/* line 236, ../sass/partials/_layout.scss */
.case__description {
  float: left;
  clear: none;
  width: 83.0%;
  margin-left: 8.5%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.case__description:last-child {
  margin-right: 0;
}

/* line 240, ../sass/partials/_layout.scss */
.case-study__close {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.case-study__close:last-child {
  margin-right: 0;
}

/* RESPONSABILITY */
/* line 247, ../sass/partials/_layout.scss */
.responsability__wrapper {
  display: inline-block;
  width: 100%;
}

/* line 252, ../sass/partials/_layout.scss */
.responsability__main-title {
  float: left;
  clear: none;
  width: 66.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.responsability__main-title:last-child {
  margin-right: 0;
}

/* line 256, ../sass/partials/_layout.scss */
.responsability__title {
  float: left;
  clear: none;
  width: 23.5%;
  margin-left: 8.5%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.responsability__title:last-child {
  margin-right: 0;
}

/* line 260, ../sass/partials/_layout.scss */
.responsability__copy {
  float: left;
  clear: none;
  width: 57.5%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.responsability__copy:last-child {
  margin-right: 0;
}

/* line 264, ../sass/partials/_layout.scss */
.responsability__img {
  float: left;
  clear: none;
  width: 66.6666666667%;
  margin-left: 0;
  margin-right: 0;
}

/* line 268, ../sass/partials/_layout.scss */
.responsability__video {
  float: left;
  clear: none;
  width: 33.3333333333%;
  margin-left: 0;
  margin-right: 0;
}

/* line 272, ../sass/partials/_layout.scss */
.responsability__list {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 34%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.responsability__list:last-child {
  margin-right: 0;
}

/* PRIVACY */
/* line 278, ../sass/partials/_layout.scss */
.privacy {
  float: left;
  clear: none;
  width: 66.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.privacy:last-child {
  margin-right: 0;
}

/* NAVIGATION */
/* line 284, ../sass/partials/_layout.scss */
.nav__mobile-wrapper {
  display: none;
}

/* line 288, ../sass/partials/_layout.scss */
.nav__footer {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1007px) {
  /* line 295, ../sass/partials/_layout.scss */
  .nav__mobile-wrapper {
    display: inline-block;
  }

  /* line 299, ../sass/partials/_layout.scss */
  .nav__primary-wrapper, .nav__secondary-wrapper {
    display: none;
  }
}
/* TESTIMONIALS */
/* line 307, ../sass/partials/_layout.scss */
.testimonials-wrapper {
  float: left;
  clear: none;
  width: 49%;
  margin-left: 25.5%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.testimonials-wrapper:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1019px) {
  /* line 313, ../sass/partials/_layout.scss */
  .testimonials-wrapper {
    float: left;
    clear: none;
    width: 66.0%;
    margin-left: 17%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .testimonials-wrapper:last-child {
    margin-right: 0;
  }
}
/* ITEMS */
/* line 322, ../sass/partials/_layout.scss */
.item, .items {
  display: inline-block;
  width: 100%;
}

/* line 327, ../sass/partials/_layout.scss */
.item.right .item__img {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 34%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.item.right .item__img:last-child {
  margin-right: 0;
}

/* line 331, ../sass/partials/_layout.scss */
.item.right .item__info {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.item.right .item__info:last-child {
  margin-right: 0;
}

/* line 335, ../sass/partials/_layout.scss */
.item.left .item__img {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.item.left .item__img:last-child {
  margin-right: 0;
}

/* line 339, ../sass/partials/_layout.scss */
.item.left .item__info {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.item.left .item__info:last-child {
  margin-right: 0;
}

/* line 343, ../sass/partials/_layout.scss */
.item.center .item__img {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.item.center .item__img:last-child {
  margin-right: 0;
}

/* line 347, ../sass/partials/_layout.scss */
.item.center .item__info {
  float: left;
  clear: none;
  width: 32.0%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.item.center .item__info:last-child {
  margin-right: 0;
}

/* STORE */
/* line 353, ../sass/partials/_layout.scss */
#services {
  float: left;
  clear: none;
  width: 66.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
#services:last-child {
  margin-right: 0;
}

/* REGISTER GUARANTEE */
/* line 360, ../sass/partials/_layout.scss */
.register-form {
  float: left;
  clear: none;
  width: 40.5%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.register-form:last-child {
  margin-right: 0;
}

/* line 364, ../sass/partials/_layout.scss */
.register-info {
  float: left;
  clear: none;
  width: 23.5%;
  margin-left: 0;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.register-info:last-child {
  margin-right: 0;
}

/* line 368, ../sass/partials/_layout.scss */
.register-copy {
  float: left;
  clear: none;
  width: 66.0%;
  margin-left: 17%;
  margin-right: 2%;
}
/* line 51, ../sass/partials/jeet/_grid.scss */
.register-copy:last-child {
  margin-right: 0;
}

/* MEDIA QUERIES */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* HERO */
  /* line 379, ../sass/partials/_layout.scss */
  .hero__wrapper {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero__wrapper:last-child {
    margin-right: 0;
  }

  /* line 383, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }

  /* HOME PRODUCTS */
  /* line 389, ../sass/partials/_layout.scss */
  .product.left {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product.left:last-child {
    margin-right: 0;
  }

  /* line 393, ../sass/partials/_layout.scss */
  .product.right {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product.right:last-child {
    margin-right: 0;
  }

  /* ABOUT US */
  /* line 399, ../sass/partials/_layout.scss */
  .join__title {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .join__title:last-child {
    margin-right: 0;
  }

  /* REGISTER GUARANTEE */
  /* line 405, ../sass/partials/_layout.scss */
  .register-form {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .register-form:last-child {
    margin-right: 0;
  }

  /* line 409, ../sass/partials/_layout.scss */
  .register-info {
    float: left;
    clear: none;
    width: 32.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .register-info:last-child {
    margin-right: 0;
  }

  /* line 413, ../sass/partials/_layout.scss */
  .register-copy {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .register-copy:last-child {
    margin-right: 0;
  }

  /* CONTACT FORM */
  /* line 419, ../sass/partials/_layout.scss */
  .contact__form {
    float: left;
    clear: none;
    width: 40.5%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__form:last-child {
    margin-right: 0;
  }

  /* line 423, ../sass/partials/_layout.scss */
  .contact__info {
    float: left;
    clear: none;
    width: 40.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__info:last-child {
    margin-right: 0;
  }

  /* PRIVACY */
  /* line 429, ../sass/partials/_layout.scss */
  .privacy {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .privacy:last-child {
    margin-right: 0;
  }

  /* FAQ */
  /* line 435, ../sass/partials/_layout.scss */
  .faq {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .faq:last-child {
    margin-right: 0;
  }

  /* PRODUCTS */
  /* line 441, ../sass/partials/_layout.scss */
  .product-gallery_item {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* ABOUT US */
  /* line 450, ../sass/partials/_layout.scss */
  .member {
    float: left;
    clear: none;
    width: 49%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .member:last-child {
    margin-right: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* HERO */
  /* line 459, ../sass/partials/_layout.scss */
  .hero__wrapper {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero__wrapper:last-child {
    margin-right: 0;
  }

  /* line 463, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 8.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }

  /* HOME FEATURE */
  /* line 468, ../sass/partials/_layout.scss */
  .feature {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 472, ../sass/partials/_layout.scss */
  .product__img, .product__info {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product__img:last-child, .product__info:last-child {
    margin-right: 0;
  }

  /* REGISTER GUARANTEE */
  /* line 478, ../sass/partials/_layout.scss */
  .register-form {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .register-form:last-child {
    margin-right: 0;
  }

  /* line 482, ../sass/partials/_layout.scss */
  .register-info {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .register-info:last-child {
    margin-right: 0;
  }

  /* STORE */
  /* line 488, ../sass/partials/_layout.scss */
  #services {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  #services:last-child {
    margin-right: 0;
  }

  /* STORE */
  /* line 494, ../sass/partials/_layout.scss */
  .service__info {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .service__info:last-child {
    margin-right: 0;
  }

  /* line 498, ../sass/partials/_layout.scss */
  .service__icon {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .service__icon:last-child {
    margin-right: 0;
  }

  /* ABOUT US */
  /* line 504, ../sass/partials/_layout.scss */
  .statement__wrapper.left {
    float: left;
    clear: none;
    width: 83.3333333333%;
    margin-left: 8.3333333333%;
    margin-right: 0;
  }

  /* line 508, ../sass/partials/_layout.scss */
  .statement__wrapper {
    float: left;
    clear: none;
    width: 83.3333333333%;
    margin-left: 8.3333333333%;
    margin-right: 0;
  }

  /* line 512, ../sass/partials/_layout.scss */
  .member {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .member:last-child {
    margin-right: 0;
  }

  /* DISTRIBUTORS */
  /* line 519, ../sass/partials/_layout.scss */
  .distributor__info {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 523, ../sass/partials/_layout.scss */
  .distributor__img {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* CONTACT FORM */
  /* line 529, ../sass/partials/_layout.scss */
  .contact__form {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__form:last-child {
    margin-right: 0;
  }

  /* line 533, ../sass/partials/_layout.scss */
  .contact__info {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .contact__info:last-child {
    margin-right: 0;
  }

  /* PRODUCTS */
  /* line 539, ../sass/partials/_layout.scss */
  .feature-widget_wrapper, .feature-widget_wrapper.single {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .feature-widget_wrapper:last-child, .feature-widget_wrapper.single:last-child {
    margin-right: 0;
  }

  /* line 543, ../sass/partials/_layout.scss */
  .product-hero .hero__wrapper-img, .product-hero .hero__wrapper {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product-hero .hero__wrapper-img:last-child, .product-hero .hero__wrapper:last-child {
    margin-right: 0;
  }

  /* line 547, ../sass/partials/_layout.scss */
  .product-gallery_item {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product-gallery_item:last-child {
    margin-right: 0;
  }

  /* RESPONSABILITY */
  /* line 553, ../sass/partials/_layout.scss */
  .responsability__list, .responsability__title, .responsability__copy {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .responsability__list:last-child, .responsability__title:last-child, .responsability__copy:last-child {
    margin-right: 0;
  }

  /* line 557, ../sass/partials/_layout.scss */
  .responsability-case {
    flex-direction: column;
  }
}
/* MEDIA QUERIES * /


/* Custom */
@media only screen and (max-width: 1132px) {
  /* ABOUT US */
  /* line 568, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 66.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 1091px) {
  /* ABOUT US */
  /* line 577, ../sass/partials/_layout.scss */
  .hero-social-r .hero__wrapper {
    float: left;
    clear: none;
    width: 40.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-social-r .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 860px) {
  /* ABOUT US */
  /* line 587, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 74.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 880px) {
  /* ABOUT US */
  /* line 597, ../sass/partials/_layout.scss */
  .hero-social-r .hero__wrapper {
    float: left;
    clear: none;
    width: 57.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-social-r .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 800px) {
  /* line 606, ../sass/partials/_layout.scss */
  .product-hero .hero__wrapper {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product-hero .hero__wrapper:last-child {
    margin-right: 0;
  }

  /* line 610, ../sass/partials/_layout.scss */
  .product-hero .hero__wrapper-img {
    float: left;
    clear: none;
    width: 40.5%;
    margin-left: 25.5%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .product-hero .hero__wrapper-img:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 771px) {
  /* ABOUT US */
  /* line 620, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 774px) {
  /* ABOUT US */
  /* line 629, ../sass/partials/_layout.scss */
  .hero-home .hero__wrapper {
    float: left;
    clear: none;
    width: 66.0%;
    margin-left: 34%;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-home .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 699px) {
  /* ABOUT US */
  /* line 640, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 91.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 634px) {
  /* ABOUT US */
  /* line 650, ../sass/partials/_layout.scss */
  .hero-about .hero__wrapper {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-about .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 618px) {
  /* ABOUT US */
  /* line 659, ../sass/partials/_layout.scss */
  .hero-home .hero__wrapper {
    float: left;
    clear: none;
    width: 66.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-home .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 555px) {
  /* ABOUT US */
  /* line 669, ../sass/partials/_layout.scss */
  .hero-home .hero__wrapper {
    float: left;
    clear: none;
    width: 74.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-home .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 532px) {
  /* ABOUT US */
  /* line 679, ../sass/partials/_layout.scss */
  .hero-social-r .hero__wrapper {
    float: left;
    clear: none;
    width: 74.5%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-social-r .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 496px) {
  /* ABOUT US */
  /* line 689, ../sass/partials/_layout.scss */
  .hero-home .hero__wrapper {
    float: left;
    clear: none;
    width: 83.0%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-home .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* Custom */
@media only screen and (max-width: 496px) {
  /* ABOUT US */
  /* line 698, ../sass/partials/_layout.scss */
  .hero-home .hero__wrapper {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 51, ../sass/partials/jeet/_grid.scss */
  .hero-home .hero__wrapper:last-child {
    margin-right: 0;
  }
}
/* BUTTONS */
/* line 3, ../sass/partials/_elements.scss */
.btn {
  border: 1px solid #554d99;
  background: #554d99;
  text-decoration: none;
  text-align: center;
  padding: 0.625em 3.25em;
  border-radius: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 1.25em;
  display: inline-block;
}

/* line 17, ../sass/partials/_elements.scss */
.btn:hover {
  background: transparent;
  color: #554d99;
}

/* line 22, ../sass/partials/_elements.scss */
.btn-ghost {
  background: transparent;
  color: #554d99;
}

/* line 27, ../sass/partials/_elements.scss */
.btn-ghost:hover {
  background: #554d99;
  color: #fff;
}

/* line 32, ../sass/partials/_elements.scss */
.btn.btn-ghost-dark-bg {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

/* line 38, ../sass/partials/_elements.scss */
.btn.btn-ghost-dark-bg:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #040216;
}

/* INPUTS */
/* line 47, ../sass/partials/_elements.scss */
input {
  width: 86%;
}

/* line 52, ../sass/partials/_elements.scss */
label.error, label span, .error-mark {
  color: red;
  font-weight: 300;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 60, ../sass/partials/_elements.scss */
  input[name="name"], input[name="telephone"], input[name="email"], input[name="store"], input[name="date"], input[name="branch"], input[name="ticket"], input[name="model"] {
    width: 100%;
  }

  /* line 64, ../sass/partials/_elements.scss */
  .submit {
    width: 100%;
  }
}
/* NAVIGATION */
/* line 4, ../sass/partials/_modules.scss */
.nav ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 9, ../sass/partials/_modules.scss */
.nav ul li {
  display: inline-block;
  margin-right: .5em;
}

/* line 14, ../sass/partials/_modules.scss */
.nav ul li:last-child {
  margin-right: 0;
}

/* line 18, ../sass/partials/_modules.scss */
.nav__primary ul a, .nav__secondary ul a, .nav__footer ul a {
  text-decoration: none;
}

/* line 22, ../sass/partials/_modules.scss */
.nav__primary ul a {
  color: #5e7f95;
  padding: .5em 1em;
  width: 100%;
  text-align: left;
}

/* line 29, ../sass/partials/_modules.scss */
.nav__secondary ul a {
  color: #040216;
  padding: .4em 0 .6em;
}

/* line 34, ../sass/partials/_modules.scss */
.nav__footer ul a {
  color: #5e7f95;
}

/* line 38, ../sass/partials/_modules.scss */
.nav__primary ul {
  text-align: right;
  width: 100%;
  color: #5e7f95;
  text-transform: uppercase;
}

/* line 46, ../sass/partials/_modules.scss */
.nav__secondary ul {
  text-align: right;
  margin: 1em 0 .7em 0;
}

/* line 51, ../sass/partials/_modules.scss */
.nav__footer ul {
  display: flex;
  justify-content: space-between;
}

/* Menu Dropdown */
/* line 58, ../sass/partials/_modules.scss */
.nav__primary ul.nav__sub-category {
  display: none;
}

/* line 62, ../sass/partials/_modules.scss */
li.nav__sub-category {
  position: relative;
  margin-top: 8px;
}

/* line 67, ../sass/partials/_modules.scss */
.nav__primary ul li:hover > ul {
  display: block;
  position: absolute;
  min-width: 171px;
  margin: 0;
  z-index: 1;
  background: #fff;
}

/* line 76, ../sass/partials/_modules.scss */
ul.nav__sub-category li:first-child {
  padding-top: 1.225em;
}

/* line 80, ../sass/partials/_modules.scss */
ul.nav__sub-category li {
  text-align: center;
  width: 100%;
  font-size: 0.875em;
  padding-top: 5px;
}

/* line 87, ../sass/partials/_modules.scss */
.mm-listview {
  text-align: center;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 1007px) {
  /* line 95, ../sass/partials/_modules.scss */
  .nav__mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em;
    width: 100%;
  }

  /* line 103, ../sass/partials/_modules.scss */
  .mobile-menu-btn {
    padding-bottom: 5px;
    text-decoration: none;
    color: #5e7f95;
  }

  /* line 109, ../sass/partials/_modules.scss */
  .nav ul li {
    margin-right: .5em;
  }
}
/* FOOTER */
/* line 119, ../sass/partials/_modules.scss */
.footer {
  background: #040216;
  color: #fff;
}

/* line 124, ../sass/partials/_modules.scss */
.footer__copyright {
  text-align: left;
}

/* line 128, ../sass/partials/_modules.scss */
.footer__copyright img {
  height: 25px;
  width: 54px;
}

/* line 133, ../sass/partials/_modules.scss */
.footer__social {
  text-align: right;
}

/* line 137, ../sass/partials/_modules.scss */
.footer__main-wrapper {
  padding: 3em 0;
  border-bottom: 1px solid #fff;
}

/* line 142, ../sass/partials/_modules.scss */
.footer__secondary-wrapper {
  padding: .7em 0 1em;
  font-weight: 300;
  font-size: 0.875em;
}

/* line 148, ../sass/partials/_modules.scss */
.footer__social svg {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  /* line 153, ../sass/partials/_modules.scss */
  .nav__footer ul {
    flex-direction: column;
  }

  /* line 157, ../sass/partials/_modules.scss */
  .nav__footer ul li {
    text-align: center;
    padding: 0.625em 0;
    margin-right: 0;
  }

  /* line 163, ../sass/partials/_modules.scss */
  .nav__footer ul {
    margin: 0;
  }
}
/* FEATURES */
/* line 171, ../sass/partials/_modules.scss */
.feature {
  text-align: center;
  border-right: 1px solid #fff;
  padding: 1.25em;
}

/* line 177, ../sass/partials/_modules.scss */
.feature:last-child {
  border-right: none;
}

/* line 181, ../sass/partials/_modules.scss */
.feature * {
  display: inline-block;
}

/* line 185, ../sass/partials/_modules.scss */
.feature__image, .feature__description {
  margin-bottom: 1.875em;
}

/* line 189, ../sass/partials/_modules.scss */
.feature p:last-of-type {
  margin-bottom: 0;
}

/* HOME PRODUCTS */
/* line 195, ../sass/partials/_modules.scss */
.product {
  text-align: center;
  padding: 2.5em 2em;
  display: flex;
}

/* line 201, ../sass/partials/_modules.scss */
.product * {
  display: inline-block;
}

/* line 205, ../sass/partials/_modules.scss */
.product__title, .product__description {
  width: 100%;
}

/* line 209, ../sass/partials/_modules.scss */
.product__info {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 216, ../sass/partials/_modules.scss */
.product__img * {
  margin: 0;
}

/* line 220, ../sass/partials/_modules.scss */
.product__img p {
  width: 80%;
}

/* FORM */
/* line 226, ../sass/partials/_modules.scss */
.input-group {
  width: 100%;
  margin-bottom: 1.5625em;
}

/* MAPS */
/* line 235, ../sass/partials/_modules.scss */
.contact__map {
  position: relative;
  height: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  display: block;
  clear: both;
  min-height: 380px;
}

/* DISTRIBUTORS */
/* line 248, ../sass/partials/_modules.scss */
.distributor {
  padding: 1em 0 0.5em;
  background: #fff;
}

/* line 253, ../sass/partials/_modules.scss */
.distributors__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
  padding: 4.125em 0;
}

/* line 260, ../sass/partials/_modules.scss */
.distributors__item.interlomas {
  background: transparent url("../images/distributors/liverpool/maps_interlomas.jpg") center center no-repeat;
}

/* line 264, ../sass/partials/_modules.scss */
.distributors__item.perisur {
  background: transparent url("../images/distributors/liverpool/maps_perisur.jpg") center center no-repeat;
}

/* line 268, ../sass/partials/_modules.scss */
.distributors__item.polanco {
  background: transparent url("../images/distributors/liverpool/maps_polanco.jpg") center center no-repeat;
}

/* line 272, ../sass/partials/_modules.scss */
.distributors__item.santa-fe {
  background: transparent url("../images/distributors/liverpool/maps_santafe.jpg") center center no-repeat;
}

/* line 276, ../sass/partials/_modules.scss */
.distributors__item.perinorte {
  background: transparent url("../images/distributors/liverpool/maps_perinorte.jpg") center center no-repeat;
}

/* line 280, ../sass/partials/_modules.scss */
.distributors__item.cancun {
  background: transparent url("../images/distributors/liverpool/maps_cancun.jpg") center center no-repeat;
}

/* line 284, ../sass/partials/_modules.scss */
.distributors__item.merida {
  background: transparent url("../images/distributors/liverpool/maps_merida.jpg") center center no-repeat;
}

/* line 288, ../sass/partials/_modules.scss */
.distributors__item.insurgentes {
  background: transparent url("../images/distributors/liverpool/maps_insurgentes.jpg") center center no-repeat;
}

/* line 292, ../sass/partials/_modules.scss */
.distributors__item.veracruz {
  background: transparent url("../images/distributors/liverpool/maps_veracruz.jpg") center center no-repeat;
}

/* line 296, ../sass/partials/_modules.scss */
.distributors__item.tampico {
  background: transparent url("../images/distributors/liverpool/maps_tampico.jpg") center center no-repeat;
}

/* line 300, ../sass/partials/_modules.scss */
.distributors__item.monterrey {
  background: transparent url("../images/distributors/liverpool/maps_monterrey.jpg") center center no-repeat;
}

/* line 304, ../sass/partials/_modules.scss */
.distributors__item.villahermosa {
  background: transparent url("../images/distributors/liverpool/maps_villahermosa.jpg") center center no-repeat;
}

/* line 308, ../sass/partials/_modules.scss */
.distributors__item:last-child {
  margin-bottom: 7.5em;
}

/* line 312, ../sass/partials/_modules.scss */
.distributors__item.right {
  justify-content: flex-end;
}

/* line 316, ../sass/partials/_modules.scss */
.distributor__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 276px;
  padding: 0.625em;
}

/* line 326, ../sass/partials/_modules.scss */
.distributor__map, .distributor__address {
  font-size: 0.875em;
  font-weight: 300;
}

/* line 331, ../sass/partials/_modules.scss */
.distributor__map {
  margin-top: 1em;
}

/* line 335, ../sass/partials/_modules.scss */
.distributor__address {
  color: #5e7f95;
  margin-bottom: 0;
  line-height: 24px;
}

/* line 341, ../sass/partials/_modules.scss */
.distributor__phone {
  font-weight: 400;
}

/* line 345, ../sass/partials/_modules.scss */
.distributors__title {
  margin-bottom: 1.875em;
}

/* line 349, ../sass/partials/_modules.scss */
.distributors__title.liverpool {
  background: transparent url("../images/logos/liverpool.png") center center no-repeat;
  min-height: 80px;
}

/* line 354, ../sass/partials/_modules.scss */
.distributors__title.office-depot {
  background: transparent url("../images/logos/office-depot.png") center center no-repeat;
}

/* line 358, ../sass/partials/_modules.scss */
.distributors__title.liverpool, .distributors__title.office-depot {
  text-indent: -99999px;
  background-size: contain;
}

/* line 363, ../sass/partials/_modules.scss */
.distributor-lists {
  display: flex;
  padding: 0 5%;
  justify-content: center;
  align-items: flex-start;
}

/* line 370, ../sass/partials/_modules.scss */
.distributor-lists_wrapper {
  width: 40%;
  margin: 10% 0;
  text-align: center;
}

/* line 376, ../sass/partials/_modules.scss */
ul.distributors-list {
  margin: 0;
  padding: 0;
}

/* line 381, ../sass/partials/_modules.scss */
ul.distributors-list li {
  list-style: none;
  margin-bottom: 5px;
}

/* line 386, ../sass/partials/_modules.scss */
ul.distributors-list li:last-child {
  margin-bottom: 0;
}

/* FAQ */
/* line 392, ../sass/partials/_modules.scss */
.faq p {
  font-size: 1em;
}

/* line 396, ../sass/partials/_modules.scss */
.faq__item {
  margin-bottom: 3.125em;
}

/* line 400, ../sass/partials/_modules.scss */
.faq__question {
  font-size: 1.125em;
  cursor: pointer;
}

/* line 405, ../sass/partials/_modules.scss */
.faq__widget {
  border-right: 1px solid #fff;
  padding: 1.5em;
}

/* line 410, ../sass/partials/_modules.scss */
.faq__widget-icon {
  width: 80px;
}

/* line 414, ../sass/partials/_modules.scss */
.faq__widget:last-child {
  border-right: none;
}

/* line 418, ../sass/partials/_modules.scss */
.faq__widget-wrapper *, .faq__widget-wrapper .contact__detail {
  color: #fff;
}

/* line 422, ../sass/partials/_modules.scss */
.faq__widget-title, .faq__widget-copy, .faq__widget p {
  text-align: center;
}

/* line 426, ../sass/partials/_modules.scss */
.faq__widget-title {
  text-transform: uppercase;
}

/* line 430, ../sass/partials/_modules.scss */
.faq__widget p:last-child {
  margin-bottom: 0;
}

/* line 434, ../sass/partials/_modules.scss */
.faq__widget-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5em;
  flex-wrap: wrap;
  align-items: center;
}

/* line 442, ../sass/partials/_modules.scss */
.faq__widget-logos > img:last-child, .faq__widget-logos > img:nth-child(even) {
  margin-right: 0;
}

/* line 446, ../sass/partials/_modules.scss */
.faq__widget-logos > img {
  margin-bottom: 2.5em;
}

/* line 450, ../sass/partials/_modules.scss */
.faq__widget-logos > img:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}

/* line 454, ../sass/partials/_modules.scss */
.faq-open, .faq-close {
  display: inline-block;
  width: 26px;
  height: 14px;
  cursor: pointer;
  margin-right: 10px;
}

/* line 462, ../sass/partials/_modules.scss */
.faq-open {
  background: url("/images/faq-open.png");
}

/* line 466, ../sass/partials/_modules.scss */
.faq-close {
  background: url("/images/faq-close.png");
}

/* SERVICES */
/* line 473, ../sass/partials/_modules.scss */
.service__item {
  display: inline-block;
  margin-bottom: 9.125em;
}

/* line 478, ../sass/partials/_modules.scss */
.service__item:last-child {
  margin-bottom: 0;
}

/* line 482, ../sass/partials/_modules.scss */
.service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 163px;
  background: #fff;
  border-radius: 50%;
  width: 163px;
  text-align: right;
  margin-left: 50px;
}

/* line 494, ../sass/partials/_modules.scss */
.service__icon img {
  width: 100px;
}

/* line 498, ../sass/partials/_modules.scss */
.service__description {
  margin-bottom: 1.75em;
}

/* ABOUT US */
/* line 504, ../sass/partials/_modules.scss */
.about-us__img {
  text-align: center;
  margin-bottom: 1.875em;
}

/* line 509, ../sass/partials/_modules.scss */
.about-us__img img {
  max-width: 450px;
}

/* line 513, ../sass/partials/_modules.scss */
.member {
  text-align: center;
}

/* line 517, ../sass/partials/_modules.scss */
.member__img {
  max-width: 220px;
  margin-bottom: 1em;
}

/* line 522, ../sass/partials/_modules.scss */
.member__name {
  font-weight: 400;
}

/* line 526, ../sass/partials/_modules.scss */
.case {
  margin-bottom: 3.125em;
}

/* line 530, ../sass/partials/_modules.scss */
.case__title-wrapper {
  padding: 10.625em;
  margin-bottom: 3.125em;
}

/* line 535, ../sass/partials/_modules.scss */
.case-study__title {
  margin-bottom: 3.125em;
}

/* line 539, ../sass/partials/_modules.scss */
.case-study__close-wrapper {
  padding: 8em 3em 3em;
  display: flex;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  align-items: center;
  background: transparent url("/images/home-hero-bg.jpg") left center no-repeat;
  margin-bottom: 5em;
  background-size: cover;
}

/* line 550, ../sass/partials/_modules.scss */
.case-study__close {
  font-weight: bold;
  margin-bottom: 50px;
}

/* line 555, ../sass/partials/_modules.scss */
.case__title-wrapper.holbox {
  background: transparent url("/images/casa_iguana_holbox.jpg") left center no-repeat;
}

/* line 559, ../sass/partials/_modules.scss */
.case__title-wrapper.libertad {
  background: transparent url("/images/banco-libertad-bg.jpg") left -80px no-repeat;
}

/* line 563, ../sass/partials/_modules.scss */
.case__title-wrapper.colegio {
  background: transparent url("/images/colegio_britanico_cancun.jpg") left -80px no-repeat;
}

/* line 567, ../sass/partials/_modules.scss */
.case__title {
  color: #554d99;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

/* line 574, ../sass/partials/_modules.scss */
.case:last-child {
  margin-bottom: 0;
}

/* line 578, ../sass/partials/_modules.scss */
.join {
  text-align: center;
}

/* line 582, ../sass/partials/_modules.scss */
.statement * {
  color: #fff;
  text-align: center;
}

/* line 587, ../sass/partials/_modules.scss */
.statement__wrapper {
  padding: 4.1875em 0;
}

/* line 591, ../sass/partials/_modules.scss */
.statement__wrapper.right {
  padding-left: 1.25em;
}

/* line 595, ../sass/partials/_modules.scss */
.statement__wrapper.left {
  padding-right: 1.25em;
  border-right: 1px solid #fff;
}

/* line 601, ../sass/partials/_modules.scss */
#about-video, #about {
  position: relative;
}

/* about us gallery */
/* line 608, ../sass/partials/_modules.scss */
.oasi-gallery_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 615, ../sass/partials/_modules.scss */
.oasi-gallery_wrapper * {
  margin: 0;
  line-height: 0;
}

/* line 620, ../sass/partials/_modules.scss */
.oasi-gallery {
  width: 100%;
  float: left;
  margin: auto 0;
}

/* line 626, ../sass/partials/_modules.scss */
.oasi-gallery_row1, .oasi-gallery_row2 .row .squares, .oasi-gallery_row2, .row.squares {
  display: flex;
}

/* line 630, ../sass/partials/_modules.scss */
.oasi-gallery_wrapper img {
  border: 6px solid #F6F7F9;
}

/* line 634, ../sass/partials/_modules.scss */
.v-rec img {
  height: -webkit-calc(100% + 200px);
  height: -moz-calc(100% + 200px);
  height: -o-calc(100% + 200px);
}

/* HERO */
/* line 643, ../sass/partials/_modules.scss */
.responsability-page, .contact-page, .faq-page, .privacy-page, .distributors-page, .sales-team-page, .maintenance-page, .guarantee-page {
  text-align: center;
}

/* line 647, ../sass/partials/_modules.scss */
.distributors-page * {
  color: #fff;
}

/* line 651, ../sass/partials/_modules.scss */
.page-title {
  padding: 6em 0 3em;
  margin-bottom: 0;
}

/* line 656, ../sass/partials/_modules.scss */
.form-title {
  padding: 0;
  margin-bottom: 0;
}

/* CONTACT */
/* line 664, ../sass/partials/_modules.scss */
.contact__detail {
  color: #040216;
  font-weight: 400;
}

/* line 669, ../sass/partials/_modules.scss */
.contact__title {
  text-align: center;
  margin-bottom: 3.125em;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 676, ../sass/partials/_modules.scss */
  .contact__form {
    margin-bottom: 3.125em;
  }
}
/* RESPONSABILITY */
/* line 683, ../sass/partials/_modules.scss */
.responsability {
  padding-top: 0;
}

/* line 687, ../sass/partials/_modules.scss */
.responsability-case {
  display: flex;
  align-items: center;
  padding: 5.625em 0;
}

/* line 693, ../sass/partials/_modules.scss */
.resposability-case p:last-child {
  margin: 0;
}

/* line 697, ../sass/partials/_modules.scss */
.responsability__main-title, .responsability__title {
  text-align: center;
}

/* line 701, ../sass/partials/_modules.scss */
.responsability__title h3 {
  font-weight: 400;
}

/* line 705, ../sass/partials/_modules.scss */
#main .responsability:last-child {
  padding-bottom: 0;
}

/* line 709, ../sass/partials/_modules.scss */
.responsability__copy p:last-child {
  margin-bottom: 0;
}

/* TESTIMONIALS */
/* line 716, ../sass/partials/_modules.scss */
.testimonials-wrapper {
  position: relative;
}

/* line 720, ../sass/partials/_modules.scss */
.prev-testimonial, .next-testimonial {
  position: absolute;
  cursor: pointer;
}

/* line 725, ../sass/partials/_modules.scss */
.prev-testimonial {
  top: 39%;
  left: -15%;
}

/* line 730, ../sass/partials/_modules.scss */
.next-testimonial {
  top: 39%;
  right: -15%;
}

/* line 735, ../sass/partials/_modules.scss */
.testimonial {
  display: flex;
}

/* line 739, ../sass/partials/_modules.scss */
.testimonial__text {
  margin: 0 0 0 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 434px) {
  /* line 747, ../sass/partials/_modules.scss */
  .prev-testimonial {
    top: 470px;
  }

  /* line 751, ../sass/partials/_modules.scss */
  .next-testimonial {
    top: 470px;
  }
}
@media only screen and (max-width: 585px) {
  /* line 757, ../sass/partials/_modules.scss */
  .prev-testimonial {
    top: 420px;
    left: 40%;
  }

  /* line 762, ../sass/partials/_modules.scss */
  .next-testimonial {
    top: 420px;
    right: 40%;
  }

  /* line 767, ../sass/partials/_modules.scss */
  .distributor-lists {
    padding: 0 1.5%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  /* line 774, ../sass/partials/_modules.scss */
  .distributor-lists_wrapper {
    width: 100%;
    margin: 10% 0;
    margin-bottom: 35px;
  }

  /* line 780, ../sass/partials/_modules.scss */
  .distributor-lists_wrapper:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 863px) {
  /* line 786, ../sass/partials/_modules.scss */
  .testimonial {
    flex-direction: column;
  }

  /* line 790, ../sass/partials/_modules.scss */
  .testimonial__img {
    max-width: 150px;
    display: inline-block !important;
  }

  /* line 795, ../sass/partials/_modules.scss */
  .testimonial {
    text-align: center;
  }

  /* line 799, ../sass/partials/_modules.scss */
  .testimonial__text {
    margin: 0;
  }
}
/* ITEMS */
/* line 807, ../sass/partials/_modules.scss */
.item {
  margin-bottom: 5.625em;
}

/* line 811, ../sass/partials/_modules.scss */
.item__features li {
  list-style: none;
  background: url("/images/drop.svg");
  background-repeat: no-repeat;
  padding: 8px 0 8px 24px;
  background-size: 28px 12px;
  background-position: -3px center;
}

/* PRODUCTS */
/* line 823, ../sass/partials/_modules.scss */
.product-hero {
  background: transparent url("/images/product-hero-bg") center top no-repeat;
}

/* line 827, ../sass/partials/_modules.scss */
.feature-widget_wrapper {
  padding: 15px;
}

/* line 831, ../sass/partials/_modules.scss */
.feature-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* line 839, ../sass/partials/_modules.scss */
.fw-icon_wrapper {
  width: 100px;
  background: #fff;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* line 850, ../sass/partials/_modules.scss */
.fw-icon {
  width: 55%;
}

/* line 854, ../sass/partials/_modules.scss */
.pdf-download_link {
  display: flex;
  align-items: center;
}

/* line 859, ../sass/partials/_modules.scss */
.pdf-download_link svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

/* line 865, ../sass/partials/_modules.scss */
.pdf-download_link-wrapper:hover path {
  fill: #554d99;
}

/* line 869, ../sass/partials/_modules.scss */
.pdf-download_icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

/* line 875, ../sass/partials/_modules.scss */
.product-thumb {
  border: 1px solid #cdcdcd;
}

/* line 879, ../sass/partials/_modules.scss */
.hero-oasi-eco .hero__wrapper-img {
  width: 22%;
}

/* HERO */
/* line 886, ../sass/partials/_modules.scss */
.hero {
  padding: 12em 0 12em 3em;
}

/* line 890, ../sass/partials/_modules.scss */
.hero p {
  font-size: 1.3125em;
  line-height: 1.375em;
}

/* line 895, ../sass/partials/_modules.scss */
.hero-home {
  background: #EFF0F2 url("/images/sobre_oasi-bg.jpg") right center no-repeat;
  /* background: #EFF0F2 url('/images/home-hero-bg.jpg') center center no-repeat; */
  margin-bottom: 0;
  background-size: cover;
}

/* line 902, ../sass/partials/_modules.scss */
.product-hero {
  background: #EFF0F2 url("/images/product-hero-bg.jpg") right center no-repeat;
  margin-bottom: 0;
  background-size: cover;
  padding: 7em 0 7em 3em;
}

/* line 909, ../sass/partials/_modules.scss */
.hero-about {
  background: #EFF0F2 url("/images/nosotros_banner.jpg") left center no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

/* line 915, ../sass/partials/_modules.scss */
.hero-social-r {
  background: #EFF0F2 url("/images/responsabilidad_banner.jpg") left center no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

/* line 921, ../sass/partials/_modules.scss */
.hero-about .hero__wrapper h1, .hero-about .hero__wrapper p, .hero-social-r .hero__wrapper h1, .hero-social-r .hero__wrapper p {
  color: #fff;
}

/* line 925, ../sass/partials/_modules.scss */
.feature * {
  color: #fff;
}

/* line 929, ../sass/partials/_modules.scss */
.hero-home .hero__wrapper {
  margin-right: 50px !important;
}

/* CERTIFICATIONS */
/* line 940, ../sass/partials/_modules.scss */
.certifications {
  width: 80%;
  margin: 0 auto;
  margin-top: 3.75em;
}

/* line 946, ../sass/partials/_modules.scss */
.certifications-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 45px;
}

/* line 952, ../sass/partials/_modules.scss */
.certifications-row:last-child {
  margin-bottom: 0;
}

/* line 956, ../sass/partials/_modules.scss */
.certification {
  max-width: 160px;
  display: flex;
  align-items: center;
}

/* MEDIA QUERIES */
/* Custom */
@media only screen and (max-width: 1145px) {
  /* line 969, ../sass/partials/_modules.scss */
  .hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -102px center/cover;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* HOME */
  /* line 981, ../sass/partials/_modules.scss */
  .hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -132px center/cover;
  }

  /* ABOUT US */
  /* line 987, ../sass/partials/_modules.scss */
  #about-video::before {
    top: -197px;
  }

  /* PRODUCTS */
  /* line 993, ../sass/partials/_modules.scss */
  .product-gallery_item {
    padding: 0;
    margin: 0;
    margin-bottom: -4px;
    margin-right: -1px;
  }
}
/* Custom */
@media only screen and (max-width: 936px) {
  /* line 1006, ../sass/partials/_modules.scss */
  .hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -192px center/cover;
  }
}
/* Custom */
@media only screen and (max-width: 867px) {
  /* line 1016, ../sass/partials/_modules.scss */
  .hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -242px center/cover;
  }
}
/* Custom */
@media only screen and (max-width: 800px) {
  /* line 1027, ../sass/partials/_modules.scss */
  .product-hero .hero__wrapper-img {
    margin-top: 3em;
  }
}
/* Custom */
@media only screen and (max-width: 936px) {
  /* line 1038, ../sass/partials/_modules.scss */
  .hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -290px center/cover;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 1047, ../sass/partials/_modules.scss */
  #home-certifications::before {
    top: -131px;
  }

  /* ABOUT US */
  /* line 1051, ../sass/partials/_modules.scss */
  .member:nth-child(2) {
    margin-right: 0;
  }

  /* line 1055, ../sass/partials/_modules.scss */
  .case__title-wrapper.holbox {
    background: transparent url(/images/casa_iguana_holbox.jpg) center center no-repeat;
  }

  /* line 1059, ../sass/partials/_modules.scss */
  .case__title-wrapper.colegio {
    background: transparent url(/images/colegio_britanico_cancun.jpg) center -80px no-repeat;
  }
}
/* Custom */
@media only screen and (max-width: 700px) {
  /* line 1067, ../sass/partials/_modules.scss */
  .hero {
    padding: 12em 0 12em .5em;
  }

  /* line 1071, ../sass/partials/_modules.scss */
  .hero-about .hero__wrapper h1, .hero-social-r .hero__wrapper h1, .hero-home .hero__wrapper h1 {
    font-size: 3.5em;
  }
}
/* Custom */
@media only screen and (max-width: 660px) {
  /* line 1081, ../sass/partials/_modules.scss */
  .oasi-gallery {
    width: 65%;
  }

  /* line 1085, ../sass/partials/_modules.scss */
  .oasi-gallery_row1, .oasi-gallery_row2 .row .squares, .oasi-gallery_row2, .row.squares {
    flex-direction: column;
  }

  /* line 1089, ../sass/partials/_modules.scss */
  .oasi-gallery_row2 .column1, .oasi-gallery_row2 .column2, .oasi-gallery_row2 .column3 {
    width: 100%;
  }
}
/* Custom */
@media only screen and (max-width: 618px) {
  /* line 1098, ../sass/partials/_modules.scss */
  .hero-home {
    background: #eff0f2 url("/images/sobre_oasi-bg.jpg") no-repeat scroll -730px center/cover;
  }
}
/* Custom */
@media only screen and (max-width: 490px) {
  /* line 1107, ../sass/partials/_modules.scss */
  .hero-about .hero__wrapper h1, .hero-social-r .hero__wrapper h1, .hero-home .hero__wrapper h1 {
    font-size: 3em;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* HERO */
  /* line 1118, ../sass/partials/_modules.scss */
  .hero {
    padding: 6em 0 6em 0;
    font-size: .8em;
  }

  /* PAGES */
  /* line 1126, ../sass/partials/_modules.scss */
  .page-title {
    padding: 3em 0;
    font-size: .8em;
  }

  /* FOOTER */
  /* line 1134, ../sass/partials/_modules.scss */
  .footer__social {
    align-items: flex-end;
  }

  /* SECTION */
  /* line 1141, ../sass/partials/_modules.scss */
  section {
    padding: 3em 0;
  }

  /* line 1145, ../sass/partials/_modules.scss */
  .section-footer {
    margin-bottom: 3.375em;
  }

  /* HOME PRODUCTS */
  /* line 1150, ../sass/partials/_modules.scss */
  .product {
    flex-direction: column;
  }

  /* line 1154, ../sass/partials/_modules.scss */
  .product.right {
    flex-direction: column-reverse;
  }

  /* line 1158, ../sass/partials/_modules.scss */
  .product__info {
    margin: 0;
  }

  /* HOME FEATURE */
  /* line 1163, ../sass/partials/_modules.scss */
  .feature {
    border-right: none;
  }

  /* line 1167, ../sass/partials/_modules.scss */
  #home-certifications::before {
    top: -87px;
  }

  /* line 1171, ../sass/partials/_modules.scss */
  .prev-testimonial, .next-testimonial {
    top: 150px;
  }

  /* line 1175, ../sass/partials/_modules.scss */
  .prev-testimonial {
    left: -50px;
  }

  /* line 1179, ../sass/partials/_modules.scss */
  .next-testimonial {
    right: -50px;
  }

  /* ABOUT US */
  /* line 1185, ../sass/partials/_modules.scss */
  .statement__wrapper.left {
    padding-right: 0;
    border-right: none;
  }

  /* line 1190, ../sass/partials/_modules.scss */
  .statement__wrapper.right {
    padding-left: 0;
  }

  /* line 1194, ../sass/partials/_modules.scss */
  .member {
    margin-bottom: 3.75em;
  }

  /* line 1198, ../sass/partials/_modules.scss */
  .case__title-wrapper {
    padding: 4em 0 2em;
  }

  /* FAQ */
  /* line 1205, ../sass/partials/_modules.scss */
  .faq__widget {
    width: 100%;
    border: none;
    margin-bottom: 5em;
  }

  /* line 1211, ../sass/partials/_modules.scss */
  .faq__widget:last-child {
    margin-bottom: 0;
  }

  /* PRODUCTS */
  /* line 1217, ../sass/partials/_modules.scss */
  .product-hero .hero__wrapper-img, .product-hero .hero__wrapper {
    font-size: .8em;
  }

  /* line 1221, ../sass/partials/_modules.scss */
  .product-hero {
    padding: 10% 0;
  }

  /* line 1225, ../sass/partials/_modules.scss */
  .product-gallery_item {
    margin-bottom: 20px;
    margin-right: 0;
  }

  /* line 1230, ../sass/partials/_modules.scss */
  .product-gallery_item:last-child {
    margin-bottom: 0;
  }

  /* RESPONSABILITY */
  /* line 1236, ../sass/partials/_modules.scss */
  .hero-social-r {
    padding: 6em 0 6em 0;
  }
}
