<div class='container'>
    <main id='main' role='main'>
        <section class="sales-team-page page-title">
            <h1 class="small-main-title">Unete al equipo de ventas</h1>
            <p>Intégrate a nuestro equipo Oasi y sé parte de esta nueva generación de agua del aire.
                <br>El futuro es ahora y necesitamos gente como tú.</p>
        </section>
        <section>
          <div class="contact">
              <div class="contact__form">
                  <%= render :partial => "../form-copy" %>
                  <%= render :partial => "../form-sales-team" %>
              </div>
              <div class="contact__info">
                  <h3>En Oasi estamos para escucharte.</h3>
                  <%= render :partial => "../contact-info" %>
              </div>
          </div>
        </section>
    </main>
</div>
