<main id='main' role='main'>
    <section class="hero hero-oasi-eco product-hero">
        <div class="container">
            <div class="hero__wrapper">
                <h1>Línea Eco</h1>
                <p>El futuro es ahora con Oasi Línea Eco. Nuestras máquinas están fabricadas con los más altos estándares de calidad, utilizamos un sofisticado sistema de condensación que permite absorber la humedad en el ambiente para generar agua tan pura como de
                    manantial, el agua generada se purifica a través de nuestros sistemas de purificación con filtros de carbono dando como resultado agua PURA lista para beber con altas propiedades para la salud de tu cuerpo.</p>
                <p>¡Todos nuestros productos están fabricados con compresores INVERTER para un máximo ahorro en el consumo eléctrico!</p>
            </div>
            <div class="hero__wrapper-img">
                <img class="img-responsive" src="/images/products/eco/eco-front.png" alt="">
            </div>
        </div>
    </section>
    <section class="light-gray-bg no-margin">
        <div class="container fw-container">
            <div class="fw-main_content">
                <div class="feature-widget_row">
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-saving.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Ahorro</h3>
                            <p class="fw-copy">Los números no mienten, haz cuentas y ahorra bebiendo el agua más pura como de manantial al más bajo costo, cada litro generado cuesta hasta $0.90 y al día este Generador, produce hasta 20 litros.</p>
                        </div>
                    </div>
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-certificate.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Mantenimiento y Garantía</h3>
                            <p class="fw-copy">Al adquirir tu Generador de Agua del Aire, no estás solo, nosotros te guiamos desde la compra hasta cada mantenimiento. Además puedes extender tu Garantía.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-widget_row">
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-warranty.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Vida del equipo
                            </h3>
                            <p class="fw-copy">Cada equipo de la línea Eco cuenta con 20 años de vida, siempre y cuando le den el uso y mantenimiento correcto.</p>
                        </div>
                    </div>
                    <div class="feature-widget_wrapper">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-recycle.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Eco-amigables</h3>
                            <p class="fw-copy">Hacemos de este planeta un mejor lugar para vivir, al comprar con nosotros participas en proyectos altruistas y evitas el uso de PET al beber Agua del Aire.</p>
                        </div>
                    </div>
                </div>
                <div class="feature-widget_row">
                    <div class="feature-widget_wrapper single">
                        <div class="feature-widget">
                            <span class="fw-icon_wrapper">
                                <img src="/images/icon-health.svg" alt="" class="fw-icon">
                            </span>
                            <h3 class="fw-title">Salud y Bienestar</h3>
                            <p class="fw-copy">Beber Agua 100% ecológica. Mejora la digestión con el perfeccionamiento de los estados de la híper –acidez del estómago evitando úlceras gastrointestinales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class='container'>
        <section>
            <div id="product-oasi" class="product-gallery product-gallery-eco">
                <a class="product-gallery_item" href="/images/products/eco/eco_img01.jpg" ><img class="product-thumb img-responsive" src="/images/products/eco/eco_img01.jpg"></a>
                <a class="product-gallery_item" href="/images/products/eco/eco_img02.jpg" ><img class="product-thumb img-responsive" src="/images/products/eco/eco_img02.jpg"></a>
                <a class="product-gallery_item" href="/images/products/eco/eco_img03.jpg" ><img class="product-thumb img-responsive" src="/images/products/eco/eco_img03.jpg"></a>
                <a class="product-gallery_item" href="/images/products/eco/eco_img05.jpg" ><img class="product-thumb img-responsive" src="/images/products/eco/eco_img05.jpg"></a>
            </div>
        </section>
        <section>
            <p class="text-center">
                <a href="" class="btn hvr-fade pdf-download_link-wrapper">
                    <span class="pdf-download_link">DESCARGA LA FICHA TÉCNICA<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #fff;
                                    }

                                </style>
                            </defs>
                            <title>iconos_oasi</title>
                            <path class="cls-1" d="M20.38 59.47c2-.47 4.21-2.65 6.39-6.85A5.41 5.41 0 0 0 25 53.71c-2.44 2.18-4.31 4.67-4.62 5.76zM38.29 24.58V24c.31-1.87.31-3.27 0-3.58v-.31l-.29-.36a.31.31 0 0 1-.31.31c-.93 2-.93 4.52-.16 7.79a16.25 16.25 0 0 0 .76-3.27z"/>
                            <path
                                class="cls-1"
                                d="M65.07 7.76H14.93a7.25 7.25 0 0 0-7.16 7.16v50.15a7.25 7.25 0 0 0 7.16 7.16h50.14a7.25 7.25 0 0 0 7.16-7.16V14.93a7.25 7.25 0 0 0-7.16-7.17zm-3.89 42.36a8.39 8.39 0 0 1-3.27.78 27.29 27.29 0 0 1-10.75-2.49c-6.07.78-10.75 1.4-14.33 2.8-.31 0-.31 0-.78.31C27.7 59 24.11 62.58 21.31 62.58c-.78 0-1.09 0-1.4-.31l-1.71-1.09v-.31a3.65 3.65 0 0 1-.31-1.71c.31-1.87 2.49-5 6.85-7.48.78-.31 1.71-1.09 3.27-1.87 1.09-1.71 2.18-3.89 3.58-6.39A87.07 87.07 0 0 0 35.48 33c-1.4-4.36-2.18-6.85-.78-11.84.31-1.4 1.4-2.8 2.8-2.8h.78a4.13 4.13 0 0 1 2.18.78c2.49 2.49 1.4 8.25 0 12.93v.31a25.88 25.88 0 0 0 5.76 9.34 29.77 29.77 0 0 0 3.27 2.18c1.71 0 3.27-.31 4.67-.31 4.36 0 7.16.62 8.25 2.49a5.3 5.3 0 0 1 .31 2.18c-.45-.01-.92 1.08-1.54 1.86z"/>
                            <path
                                class="cls-1"
                                d="M43.27 44.2a29.42 29.42 0 0 1-5.45-8.1 85.61 85.61 0 0 1-3.58 8.57c-.78 1.4-1.4 2.49-2.18 3.89h.78a58 58 0 0 1 11.83-3.26 3.63 3.63 0 0 1-1.4-1.1zM59.78 47.16c-.31-.31-1.87-1.4-6.85-1.4h-.63v.31a18.94 18.94 0 0 0 6.85 1.87h1.09v-.31c-.15 0-.46 0-.46-.47z"/>
                        </svg>
                    </span>
                </a>
            </p>
        </section>
        <section class="text-center">
            <p>Visita nuestro
                <b>Showroom</b>
                y comprueba que no hay mas pura que
                <b>Oasi.</b>
            </p>
            <p>Llamanos al
                <b>+52 55 12537229</b>
                o envianos un correo a
                <a href="mailto:contacto@oasi-mexico.com">contacto@oasi-mexico.com</a>
            </p>
        </section>
    </div>
</main>
