<div class='container'>
    <main id='main' role='main' class="small-text">
        <section class="faq-page page-title">
            <h1 class="small-main-title">Preguntas Frecuentes</h1>
        </section>
        <section>
            <div class="faq">
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Qué es la Generación de Agua del Aire?</h4>
                    <p class="faq__answer">Es el proceso de captar el agua a través de la humedad en el aire. Es decir tomamos el vapor de agua que se encuentra atrapado en el aire y mediante un proceso de condensación convertirlo en agua líquida. Es el mismo ciclo
                        Hidrológico de cómo se genera agua en el planeta.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cómo se garantiza que el agua de los equipos Oasi es apta para consumo humano?</h4>
                    <p class="faq__answer">En Oasi contamos con los más altos estándares para la purificación del agua condensada, garantizando de esta manera que el agua que se genera es 100% apta para el consumo humano. Incluimos en cada una de nuestras máquinas
                        Generadoras de Agua del Aire un sistema filtrado en 7 pasos, incluyendo:</p>
                    <ul class="faq__answer">
                        <li>Osmosis Inversa</li>
                        <li>Lámparas UV para la desinfección</li>
                        <li>Filtros de carbón activado</li>
                        <li>Filtro de mineralización, que incorpora al agua purificada las sales minerales correctas para el cuerpo humano</li>
                    </ul>
                    <p class="faq__answer">Obteniendo como resultado agua con el contenido en sales minerales, cero presencias de bacterias y características ideales del agua, inodora, sinsabor e incolora.
                    </p>
                    <p class="faq__answer">¡Agua como de manantial!</p>

                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿El agua condensada del ambiente es potable?</h4>
                    <p class="faq__answer">Para que el agua sea potable debe pasar por varios procesos de purificación, como los aplicados en nuestros equipos, ya que el agua condensada no es potable directamente aún contiene mini partículas que viven en el ambiente
                        como polen, polvo, gases etc. Sin embargo, en algunas ocasiones el agua condensada es más potable que el agua entubada.</p>
                    <p class="faq__answer">En nuestros Generadores de Agua del Aire, contamos con los estándares más altos para que el agua sea 100% bebible, no te preocupes. Si tienes alguna duda comunícate con nosotros y contestaremos tus preguntas personalmente.</p>

                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cómo se genera el agua en los equipos de Oasi?</h4>
                    <p class="faq__answer">Nuestros Generadores de Agua del Aire cuentan con un sistema muy sofisticado para simular el ciclo hidrológico que genera agua en el planeta, convirtiendo el vapor del ambiente en agua líquida, a través de un proceso de
                        condensación y purificación que permite entregarte agua lista para beber directamente a tu vaso.</p>

                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿El agua que se genera está lista para beber?</h4>
                    <p class="faq__answer">Sí, los Generadores de Agua de Aire cuentan con el Sistema de Osmosis Inversa, este sistema lo que hace es purificar cada gota de agua para que sea consumida por el ser humano.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cuantos años de garantía tiene los equipos?</h4>
                    <p class="faq__answer">Todos nuestros equipos Oasi cuentan con 5 años de garantía en México.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cómo puedo hacer válida mi garantía?</h4>
                    <p class="faq__answer">Para hacer válida tu garantía conserva tu factura de compra, realiza en tiempo y forma el mantenimiento de tu máquina como cambio de filtros.</p>
                    <p class="faq__answer">La garantía cubre defectos de fabricación. La garantía pierde validez, cuando el equipo ha sido modificada por personal no autorizado, ha sido mal instalada o no ha tenido los cuidados que vienen en el instructivo de su caja.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Qué tiempo de vida tienen los filtros del sistema de purificación?</h4>
                    <p class="faq__answer">Los filtros de purificación cuentan con 18 a 24 meses de vida con óptima calidad. Es importante que consideres cambiarlos en el tiempo indicado, tu mismo equipo Oasi mediante sensores internos, te indicará cuando es el tiempo
                        ideal para realizar el cambio, no te preocupes.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cuantos años de vida tienen los equipos de generación de agua?</h4>
                    <p class="faq__answer">Todos los modelos tienen una vida útil de 15 a 20 años, en condiciones normales de uso.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Los equipos cuentan con alguna póliza anual de soporte y mantenimiento?</h4>
                    <p class="faq__answer">Actualmente Oasi te ofrece una póliza anual opcional que cubre totalmente a tu equipo.</p>
                    <ul class="faq__answer">
                        <li>Garantía extendida Anual.</li>
                        <li>Cambio de consumibles (paquete de filtros).</li>
                        <li>Cambio y actualización de componentes.</li>
                        <li>Soporte y mantenimiento en sitio (cuando aplique).</li>
                        <li>Atención al cliente 24/7 los 365 días del año.</li>
                        <li>Revisión semestral de calidad de agua y desempeño (extensión de un certificado de calidad).</li>
                        <li>Asistencia en puesta en marcha de equipos.</li>
                    </ul>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cuál es el mantenimiento y con qué frecuencia debo lavar los equipos?</h4>
                    <p class="faq__answer">El mantenimiento es muy sencillo siempre y cuando el uso que le des a tu Generador de Agua del Aire sea el correcto. Te recomendamos que laves 1 vez a la semana el filtro electrostático solamente con agua. Y una vez al mes
                        lavar el colector de condensado. Todo esto está claramente explicado en tu manual de uso del equipo.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿En las zonas con alta salinidad disminuye la vida útil de los filtros?</h4>
                    <p class="faq__answer">No disminuye su vida. El sistema de filtrado que tienen todos los equipos está diseñado para eliminar las sales o contaminantes captados en el ambiente directamente por el sistema de purificación de Osmosis Inversa. El problema
                        existiría si al sistema se le introdujera agua de mar directamente que en su contenido tiene un exceso de sal que puede afectar totalmente al sistema.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cuáles serían las recomendaciones para el manejo de los equipos industriales?</h4>
                    <p class="faq__answer">En todos los Generadores de Agua del Aire te recomendarlos que sólo los instale el personal autorizado. Actualmente las recomendaciones se encuentran en el manual de primer arranque, pero lo primordial es revisar las conexiones
                        de los filtros ya que con el movimiento las mangueras pueden moverse de su lugar original.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Al adquirir equipos Industriales se capacita al personal para su operación?</h4>
                    <p class="faq__answer">Sí. Para el caso de los equipos Industriales se apoya en la puesta en marcha y se da una capacitación completa al personal de mantenimiento para su operación y consideraciones. Así mismo se entrega un estudio de calidad con
                        certificación para garantizar la calidad del agua que tiene el equipo.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cuál es el costo de un litro de agua Oasi?</h4>
                    <p class="faq__answer">De $0.59 hasta $0.74. Haz cuentas y ahorra en tu negocio, casa u oficina.
                    </p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Con qué acreditaciones cuenta Oasi?</h4>
                    <p class="faq__answer">Somos una empresa 100% Mexicana y contamos con certificaciones de talla internacional como TUV, UNESCO, BOKU, entre otras. Somos miembros de Water Quality Association y en México contamos con el respaldo de la COFEPRIS y NOM.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Por qué debo comprar equipos Oasi?</h4>
                    <p class="faq__answer">Oasi es una empresa 100% Mexicana que ofrece equipos generadores de agua del aire de alta calidad con una tecnología innovadora y benéfica para el medio ambiente, respaldados con técnicos profesionales altamente capacitados para atender todas las necesidades.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Qué es la Osmosis Inversa?</h4>
                    <p class="faq__answer">La Osmosis Inversa es un sistema de filtración y purificación por medios fisicoquímicos, que ha resultado ser altamente confiable para la generación de agua sin sustancias disueltas. Osmosis es el paso de una sustancia por una membrana semipermeable.</p>
                    <p class="faq__answer">Es decir este proceso separa las sales y otros contaminantes, logrando filtrar agua 100% potable.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Los Generadores de Agua del Aire, cuentan con Garantía?</h4>
                    <p class="faq__answer">Claro, todos nuestros equipos te ofrecen 5 años de garantía contra defectos de fabricación. Si tu garantía ha finalizado, comunícate con nosotros o en el sitio Web adquiere tu extensión de garantía.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Puedo realizar un cambio o una devolución de un equipo?</h4>
                    <p class="faq__answer">Si tu Generador de Agua del Aire presenta alguna falla comunícate a nuestra línea de Atención al Cliente, ellos podrán ayudarte para conocer con exactitud tu problema.
                    </p>
                    <p class="faq__answer">Recuerda que la devolución o cambio por equipo sólo es válida si es por defecto de fábrica.
                    </p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Cómo obtengo la garantía de mi Generador de Agua del Aire que compré en una Tienda Departamental?</h4>
                    <p class="faq__answer">Es muy fácil, en el menú principal de este sitio web, encontrarás el área de Garantía. Ingresa los datos que te solicitan, es muy importante que tengas tu factura en la mano para realizar este registro.</p>
                </div>
                <div class="faq__item">
                    <h4 class="faq__question">
                        <span class="faq-open"></span>¿Puedo conocer un Generador de Agua del Aire antes de comprarlo?</h4>
                    <p class="faq__answer">Sí, llámanos a nuestro departamento de Ventas al 55 1253 7229 o envía un correo a
                        <a href="mailto:contacto@oasi-mexico.com">contacto@oasi-mexico.com</a>
                        y agenda tu visita a nuestro Showroom y conócelos. Estamos seguros que te encantarán.</p>
                </div>
            </div>
        </section>
    </main>
</div>
<section class="faq__widget-wrapper dark-color-bg">
    <div class="container">
        <div class="faq__widget">
            <p><img src="/images/icon-mail.svg" alt="" class="faq__widget-icon"></p>
            <h4 class="faq__widget-title">Contáctanos</h4>
            <p class="faq__widget-copy">En Oasi estamos para escucharte.</p>
            <%= render :partial => "../contact-info" %>
        </div>
        <div class="faq__widget">
            <p><img src="/images/icon-dist.svg" alt="" class="faq__widget-icon"></p>
            <h4 class="faq__widget-title">Distribuidores</h4>
            <p class="faq__widget-copy">También encuéntranos en los distribuidores autorizados.</p>
            <div class="faq__widget-logos">
              <div class="faq_widget-logos__wrapper">
                <img src="/images/logos/liverpool-white.png" alt="" class="img-responsive">
              </div>
              <div class="faq_widget-logos__wrapper">
                <img src="/images/logos/office-depot-white.png" alt="" class="img-responsive">
              </div>
            </div>
        </div>
    </div>
</section>
<section id="home-certifications" class="light-gray-bg no-margin text-center">
    <div class='container'>
        <%= render :partial => "/certifications" %>
    </div>
</section>
