<main id='main' role='main'>
    <section class="distributors-page page-title dark-color-bg">
        <div class="container">
            <h1 class="small-main-title">Distribuidores</h1>
            <p>Tambien puedes encontrarnos en la tienda departamental de tu preferencia. Oasi esta al alcance de todos.</p>
            <p>Encuentranos en los siguientes distribuidores autorizados.</p>
        </div>
    </section>
    <div class="container">
        <section>
          <h2 class="distributors__title liverpool">Liverpool</h2>
          <div class="distributor-lists">
            <div class="distributor-lists_wrapper">
              <h4>Ciudad de México</h4>
              <ul class="distributors-list">
                <li><a data-scroll href="#interlomas">Interlomas</a></li>
                <li><a data-scroll href="#insurgentes">Insurgentes</a></li>
                <li><a data-scroll href="#perinorte">Perinorte</a></li>
                <li><a data-scroll href="#perisur">Perisur</a></li>
                <li><a data-scroll href="#polanco">Polanco</a></li>
                <li><a data-scroll href="#santa-fe">Santa Fe</a></li>
              </ul>
            </div>
            <div class="distributor-lists_wrapper">
              <h4>Interior de la República</h4>
              <ul class="distributors-list">
                <li><a data-scroll href="#cancun">Cancún</a></li>
                <li><a data-scroll href="#merida">Merida</a></li>
                <li><a data-scroll href="#monterrey">Monterrey</a></li>
                <li><a data-scroll href="#tampico">Tampico</a></li>
                <li><a data-scroll href="#villahermosa">Villahermosa</a></li>
                <li><a data-scroll href="#veracruz">Veracruz</a></li>
              </ul>
            </div>
          </div>
        </section>
        <section>
            <div id="distributors">
                <div class="distributors__list">
                    <div class="distributors__item interlomas" id="interlomas">
                      <div class="distributor">
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_interlomas_small.jpg">
                        </div>
                        <div class="distributor__info">
                            <h3 class="distributor__title">Interlomas</h3>
                            <p class="distributor__address">Paseo Interlomas, Vialidad de La Barranca 6, Col. Ex Hacienda Jesús del Monte, 52787 Huixquilucan de Degollado, Méx.
                                <br><span class="distributor__phone">Teléfono: 01 55 3088 2300</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/Vf8ZFc7wRwn">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item insurgentes right" id="insurgentes">
                      <div class="distributor">
                        <div class="distributor__info">
                            <h3 class="distributor__title">Insurgentes</h3>
                            <p class="distributor__address">Av. Insurgentes Sur 1310, Del Valle, Col del Valle Sur, 03100 Ciudad de México, CDMX
                                <br><span class="distributor__phone">Teléfono: 01 55 5480 1300</span></p>
                                <p class="distributor__map"><a href="https://www.google.com.mx/maps/place/Liverpool/@19.3726088,-99.1810195,17z/data=!3m1!4b1!4m5!3m4!1s0x85d1ff8554bcff27:0x8c06d0931ac892ac!8m2!3d19.3726038!4d-99.1788254
">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_insurgentes_small.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item perinorte" id="perinorte">
                      <div class="distributor">
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_perinorte_small.jpg">
                        </div>
                        <div class="distributor__info">
                            <h3 class="distributor__title">Perinorte</h3>
                            <p class="distributor__address">Carretera México - Querétaro. Km. 30.5, Hacienda del Parque, 54769 Cuautitlán Izcalli, Méx.
                                <br><span class="distributor__phone">Teléfono: 01 55 5864 9500</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/edAdBDpHVqJ2">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item perisur right" id="perisur">
                      <div class="distributor">
                        <div class="distributor__info">
                            <h3 class="distributor__title">Perisur</h3>
                            <p class="distributor__address">Perisur, Periférico Sur No. 4690, Coyoacán, Ampliación Pedregal de San Angel, 04500 Ciudad de México, D.F.
                                <br><span class="distributor__phone">Teléfono: 01 55 5447 1200</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/TkdGKGpTp732">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
  </svg></a></p>
                        </div>
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_perisur_small.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item polanco" id="polanco">
                      <div class="distributor">
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_polanco_small.jpg">
                        </div>
                        <div class="distributor__info">
                            <h3 class="distributor__title">Polanco</h3>
                            <p class="distributor__address">Mariano Escobedo 425, Miguel Hidalgo, Chapultepec Morales, Polanco V Secc, 11570 Ciudad de México, D.F.
                                <br><span class="distributor__phone">Teléfono: 01 55 5328 6400</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/VoqrdD1jDfn">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
  </svg></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item santa-fe right" id="santa-fe">
                      <div class="distributor">
                        <div class="distributor__info">
                            <h3 class="distributor__title">Santa Fe</h3>
                            <p class="distributor__address">Av Vasco de Quiroga 3800, Cuajimalpa, Sta Fé, 05109 Ciudad de México, D.F.
                                <br><span class="distributor__phone">Teléfono: 01 55 5257 9000</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/soa9hGpnVmN2">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
  </svg></a></p>
                        </div>
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_santafe_small.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item cancun " id="cancun">
                      <div class="distributor">

                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_cancun_small.jpg">
                        </div>
                        <div class="distributor__info">
                            <h3 class="distributor__title">Cancun</h3>
                            <p class="distributor__address">Av. Tulúm Sur No. 260. Sm 7 Mza 49. Local A-7, Centro, 77500 Cancún, Q.R.
                                <br><span class="distributor__phone">Teléfono: 01 998 881 1500</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/AnB8yiV5wAU2">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item merida right" id="merida">
                      <div class="distributor">

                        <div class="distributor__info">
                            <h3 class="distributor__title">Merida</h3>
                            <p class="distributor__address">Calle 60 299, Unidad Revolucion, 97110 Mérida, Yuc.
                                <br><span class="distributor__phone">Teléfono: 01 999 942 7200</span></p>
                                <p class="distributor__map"><a href="https://goo.gl/maps/8uUt3HqGvsj">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_merida_small.jpg">
                        </div>
                      </div>
                    </div>

                    <div class="distributors__item monterrey" id="monterrey">
                      <div class="distributor">
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_monterrey_small.jpg">
                        </div>
                        <div class="distributor__info">
                            <h3 class="distributor__title">Monterrey</h3>
                            <p class="distributor__address">Galerías Valle Oriente, Lázaro Cárdenas 1000, Valle del Mirador, 64750 Monterrey, N.L.
                                <br><span class="distributor__phone">Teléfono: 01 81 8133 4300</span></p>
                                <p class="distributor__map"><a href="https://www.google.com.mx/maps/place/Liverpool/@25.6380778,-100.3161461,17z/data=!3m1!4b1!4m5!3m4!1s0x8662be50463c1371:0x6dd5c7896dea0758!8m2!3d25.638073!4d-100.313952">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item tampico right" id="tampico">
                      <div class="distributor">
                        <div class="distributor__info">
                            <h3 class="distributor__title">Tampico</h3>
                            <p class="distributor__address">Prolongación Hidalgo 4902, Country Club, 89250 Tampico, Tamps.
                                <br><span class="distributor__phone">Teléfono: 01 833 229 3600</span></p>
                                <p class="distributor__map"><a href="https://www.google.com.mx/maps/place/Liverpool+Tampico+Hidalgo/@22.2597684,-97.8842997,17z/data=!4m5!3m4!1s0x85d7fa1f6a7ee27d:0xb231c86584d6f07e!8m2!3d22.2607514!4d-97.8765857">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_tampico_small.jpg">
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item villahermosa" id="villahermosa">
                      <div class="distributor">
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_villahermosa_small.jpg">
                        </div>
                        <div class="distributor__info">
                            <h3 class="distributor__title">Villahermosa</h3>
                            <p class="distributor__address">Periférico Carlos Pellicer Cámara 129, Primero de Mayo, Real del Sur, 86190 Villahermosa, TAB.
                                <br><span class="distributor__phone">Teléfono: 01 993 310 6900</span></p>
                                <p class="distributor__map"><a href="https://www.google.com.mx/maps/place/Liverpool+Plaza+Altabrisa/@17.967129,-92.943525,17z/data=!3m1!4b1!4m5!3m4!1s0x85edd77cb7d4d821:0xb2ed301f9cb3b8d1!8m2!3d17.9671239!4d-92.9413309">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="distributors__item veracruz right" id="veracruz">
                      <div class="distributor">
                        <div class="distributor__info">
                            <h3 class="distributor__title">Veracruz</h3>
                            <p class="distributor__address">Blvd. Miguel Alemán 4405, Terreno Novillero, 94290 Boca del Río, Ver.
                                <br><span class="distributor__phone">Teléfono: 01 229 923 4300</span></p>
                                <p class="distributor__map"><a href="https://www.google.com.mx/maps/place/Liverpool+Veracruz+el+Dorado/@19.0955124,-96.10769,17z/data=!3m1!4b1!4m5!3m4!1s0x85c3402c2b815195:0x5380ae396e8ebab6!8m2!3d19.0955073!4d-96.1054959">Ir a mapa de google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 466.583 466.582">
  <path d="M233.292 0c-85.1 0-154.334 69.234-154.334 154.333 0 34.275 21.887 90.155 66.908 170.834 31.846 57.063 63.168 104.643 64.484 106.64l22.942 34.775 22.941-34.774c1.317-1.998 32.641-49.577 64.483-106.64 45.023-80.68 66.908-136.559 66.908-170.834C387.625 69.234 318.391 0 233.292 0zm0 233.291c-44.182 0-80-35.817-80-80s35.818-80 80-80 80 35.817 80 80-35.819 80-80 80z" fill="#1caed6"/>
</svg></a></p>
                        </div>
                        <div class="distributor__img">
                            <img class="img-responsive" src="/images/distributors/liverpool/liver_veracruz_small.jpg">
                        </div>
                      </div>
                    </div>
                </div>
        <!--        <h2 class="distributors__title office-depot">Office Depot</h2>
                <p class="text-center">Puedes comprar nuestros productos en el sitio oficial de Office Depot</p>
                <p class="text-center"><a href="" class="btn hvr-fade">Comprar</a></p> -->
            </div>
        </section>
        <section class="form-title">
            <h2 class="text-center">Conviértete en un agente de cambio con nosotros.</h2>
            <p class="text-center">Ofrecer calidad, tecnología e innovación en tu establecimiento, es muy fácil. Sólo déjanos tus datos y pronto OASI estará en tu tienda Departamental.</p>
        </section>
        <section>
            <div class="contact">
                <div class="contact__form">
                    <%= render :partial => "../form-copy" %>
                    <%= render :partial => "../form-distributors" %>
                </div>
                <div class="contact__info">
                    <h3>En Oasi estamos para escucharte.</h3>
                    <%= render :partial => "../contact-info" %>
                </div>
            </div>
        </section>
    </div>
</main>
