<main id='main' role='main'>
    <section class="contact-page page-title">
        <h1 class="small-main-title">Contáctanos</h1>
        <p>¿Tienes alguna duda o comentario?
            <br>Déjanos tus datos y en breve nos pondremos en contacto contigo.</p>
    </section>
</main>
